[2016-08-26 07:57] seefood commented on #1290
Mazal Tov? :)

[2016-08-26 11:30] daira commented on #1188
I think we already have nonmalleability tests for the JoinSplit signatures.

[2016-08-26 11:37] daira commented on #1106
This isn't actually a consensus change.

[2016-08-26 11:43] daira commented on #420
I believe we made all  previous forks unconditional, i.e. this should be closed as fixed.

[2016-08-26 12:26] daira commented on #775
gadgetlib2 is no longer in our libsnark fork. @loxal, can you try to build again to see whether this is resolved?

[2016-08-26 12:31] daira commented on #838
We should specify a minimum GCC version.

[2016-08-26 12:41] daira commented on #1273
#716 is about revocation of zaddresses; the Founders' Reward goes to a taddress.

[2016-08-26 13:14] ebfull opened #1309 "Fix TODO #808's in code"
There is at least one place where, in the RPC, we do not print out whether a joinsplit is valid (in a debugging context). These locations are annotated with `TODO: #808` as I intended when I labeled all that code, so we wouldn't forget. We closed #808 without dealing with all these TODO's.

Please note that #808 _is_ implemented by all the core consensus code and our RPC. JoinSplit signatures must

[2016-08-26 13:14] ebfull commented on #808
See #1309.

[2016-08-26 13:14] #808 closed

[2016-08-26 15:55] bitcartel commented on #1122
I ran this test again bitcoind v0.12.0 and the crash does not occur, it returns a parse error as expected so we can look for the relevant patch there.

[2016-08-26 16:19] daira commented on #778
We should implement another layer over ``JSDescription`` and have the RPC code use it, IMHO. How much this layer handles is up for discussion.

[2016-08-26 18:47] coinspect commented on #1122
Bitcoin Core replaced json_spirit by Univalue in v0.12.0. Check Bitcoin Core pull 6121 [Convert entire source tree from json_spirit to UniValue #6121](https://github.com/bitcoin/bitcoin/pull/6121)

[2016-08-27 00:15] nathan-at-least opened #1312 "New zkSNARK parameters file system schema + zcashd & fetch-params.sh support."
- parameter files live in `~/.zcash-params/{proving,verifying}.${SHA256_HEX}`
- each ChainParams specifies which sha256 it expects in zcash. **Edit:** this is an app code change.
- fetch-params specifies the hashes it wants for each of the chainparams (maybe 2 or 3 distinct params?)
- if fetch-params doesn't see the file it wants, it wgets to a tempfile, calculates the sha256 hash, constructs the

[2016-08-27 00:19] nathan-at-least commented on #1312
This could be a stepping stone to #1155 where the latter uses the same filesystem schema. An advantage of that is if the P2P fetch is failing, users can fall back to ``fetch-params.sh`` or manual work-arounds, and users can chose to forego the P2P scheme (which could be useful during network attacks, for example).

[2016-08-27 00:25] nathan-at-least commented on #1312
Related tickets:

* #1296 and #600 - both "non-in-band distribution" tickets, both are orthogonal and we can do all three of these tickets in any order.
* #1232 - (arguably) fixes this as a side-effect.
* #659 - fixes this bug, since we no longer user ChainParams or NetParams names in the path.
* #1155 - as stated above, it could be a first step before P2P params which has some operational advanta

[2016-08-27 00:44] bitcartel commented on #1122
Two ways to fix this.  Lets discuss at meeting.

First is to merge upstream pull 6121 which affects over 2000 lines of code and 44 files.

Second is to modify function begin_compound() in json_spirit to fix the above issue so that the curl command will return a regular JSON-RPC error just like upstream `{"result":null,"error":{"code":-32700,"message":"Parse error"},"id":null}`

[code]

Note that j

[2016-08-27 04:34] ageis commented on #1108
GNU mailman has been uninstalled and [lists.z.cash](https://lists.z.cash) / lists.zca.sh simply serves the zcash-dev archives.

[2016-08-27 04:34] #1108 closed

[2016-08-27 04:35] #573 closed

[2016-08-27 15:59] bitcartel opened #1315 "RPC call getblocksubsidy to return the subsidy for future blocks"
This is a user feature request to help mining clients:

https://github.com/zcash/zcash/pull/1059#issuecomment-242918652

[2016-08-27 16:31] bitcartel commented on #1207
Adding crypted zkeys to the wallet is currently blocked as the underlying interface could change... can we do this post 1.0, perhaps as part of a wallet overhaul with optimization #1294 and brain wallets #18, which would most likely require a new wallet format?

[2016-08-27 23:56] daira commented on #1315
Why put an upper limit on the height at all? The future block subsidy is deterministic.

[2016-08-27 23:58] daira commented on #1315
+1 on allowing this for beta 1.

[2016-08-28 18:12] bitcartel commented on #1293
How about this?
z_getoperationresult (removes result internally)
z_getoperationstatus (does not remove anything)

[2016-08-29 04:07] ebfull commented on #1312
I don't think we should or need to have different parameters between mainnet and testnet. At least, I can't think of a good reason why.

[2016-08-29 05:05] bitcartel commented on #1312
Maybe as a test run of parameter setup?

[2016-08-29 05:15] ebfull commented on #1312
Let's not forget #416.

[2016-08-29 14:43] daira commented on #1312
We might want to test a hard fork that changes parameters on the testnet first.

[2016-08-29 17:11] nathan-at-least commented on #92
Closing as wontfix. We may decide to add @amiller 's proposal or the patches @daira linked to as post-1.0 features.

[2016-08-29 17:11] #92 closed

[2016-08-29 20:01] nathan-at-least commented on #1114
Yes, let's do this for the Beta 1 release. I'm removing it from the agenda.

[2016-08-29 20:04] nathan-at-least commented on #967
I'm removing this from the agenda (we talked at length last week) and adding ``needs prioritization`` so that it will be included in the security triage. I'll decide on it's triage status in the context of the full set of issues.

Note: our team disagreed about the importance of this issue. If we don't have it scheduled to be fixed by 1.0, let's gather it and other such "controversial security iss

[2016-08-29 20:07] nathan-at-least commented on #623
I'm assuming this is on the agenda to ensure we don't drop it. I've added a ticket there, plus @ageis has ack'd. If this was on the agenda for another reason, re-raise it.

[2016-08-29 20:08] nathan-at-least commented on #420
Leaving this on the agenda to poll everyone to see if we know of any exceptions / follow up work. If not, I assume it's safe to close.

[2016-08-29 20:10] nathan-at-least commented on #1298
Agenda questions:

* I need to learn about the difference between the REST interface and the standard/other RPC mechanism.
* Is the REST interface popular?

I think I advocate disabling the REST interface and waiting to see if Beta users request it, then we can consider re-enabling it after 1.0 launch.

[2016-08-29 20:12] nathan-at-least commented on #1122
Agenda items:

* If @bitcartel 's patch is so simple, why is the upstream fix so invasive?
* How certain are we that @bitcartel's simple patch addresses all recursive-structure style issues? What about ``{*``, ``[0-9]*``, ``".*``, etc...?

[2016-08-29 20:13] nathan-at-least commented on #17
@ebfull +1 We're tracking this at a higher level so this ticket is just a distracting nuisance.

[2016-08-29 20:13] #17 closed

[2016-08-29 20:23] bitcartel commented on #1122
Json spirit is template based whereas Univalue is not.  Upstream decided to migrate all the json handling to univalue hence the large diff.

The fix is to prevent compound elements from nesting, that is arrays and objects.  Large lists of elements are processed OK.

We can also add more tests.

[2016-08-29 21:11] nathan-at-least commented on #1304
We're planning to rollback the non-malleable txid feature as per #1316 as part of the Beta 1 release. Unfortunately we just don't have time to ensure this feature is designed securely.

[2016-08-29 21:48] nathan-at-least commented on #420
@ebfull and @daira aren't aware of any unaddressed block-height dependencies, so this is no longer relevant.

[2016-08-29 21:48] #420 closed

[2016-08-29 21:54] #623 closed

[2016-08-29 21:54] ebfull commented on #623
Closing because @ageis should already be aware of this.

[2016-08-29 22:17] daira opened #1317 "Adopt Eclipse attack mitigation"
Split from #92:

Consider adopting this fix from upstream, which is advertised as helping against Eclipse attacks (and written by the authors of that paper): bitcoin/bitcoin#8282 and bitcoin/bitcoin#6355

[2016-08-29 22:23] daira commented on #967
I'll do the rebase of @sipa's fix since that will make this more likely to get through triage, and should only take me half an hour or so.

[2016-08-29 22:23] rcseacord opened #1318 "Run tests using UndefinedBehaviorSanitizer"
The UndefinedBehavior Sanitizer is available for both Clang http://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html and gcc https://gcc.gnu.org/onlinedocs/gcc/Instrumentation-Options.html.

UndefinedBehaviorSanitizer (UBSan) is a fast undefined behavior detector. UBSan modifies the program at compile-time to catch various kinds of undefined behavior during program execution, for example:
- Usin

[2016-08-29 23:24] coinspect opened #1319 "Unhandled exception allows a CPU-exhaustion attacker to get away with it"
`CTransaction::GetValueOut()` [throws] (https://github.com/zcash/zcash/blob/zc.v0.11.2.latest/src/primitives/transaction.cpp#L162) a "value out of range" exception when the total output value of a transaction is [less than zero or more than MAX_MONEY](https://github.com/zcash/zcash/blob/zc.v0.11.2.latest/src/amount.h#L21).
Attackers can continuously send the same out-of-range transaction to a targ

[2016-08-30 02:22] ebfull commented on #1319
The unhandled exception isn't meant to be handled by our code but to be caught by an audit like this.

[2016-08-30 02:46] ebfull commented on #1319
Oops, didn't mean to submit that comment so quickly.

So, this CPU exhaustion attack is my fault. Here's the logic so that others understand what's going on:

`CTransaction::GetValueOut()` is a function we use to total the output value of the transaction. We use this inside of `CheckInputs` to ensure that the values balance properly. In Bitcoin, this is just the sum of all the outputs' `nValue`. I

[2016-08-30 02:48] ebfull commented on #1319
I would like us to consider renaming `vpub_new` and `vpub_old` to `vpub_in` and `vpub_out` (respectively) so that these kinds of mistakes are more obvious. (I remember @nathan-at-least being a bit skeptical of our naming choice here!)

[2016-08-30 02:53] str4d commented on #1319
I'd be +1 on a change - I managed to confuse myself a few times while adding JoinSplit support to a block explorer. The only reason against `vpub_in` and `vpub_out` could be that it is ambiguous as to whether that is into/out of the public value pool, or into/out of the JoinSplit. But then, so is the existing terminology!

[2016-08-30 03:24] SergioDemianLerner commented on #1319
We also detected that bug. Here is an excerpt of our audit recommendations:

The code should read  “joinsplit.vpub_old“ instead of “joinsplit.vpub_new“. The error may have been caused because the names “vpub_old” and “vpub_new” are not intuitive.

Recommendations

Correct the code
Rename the “vpub_old” and “vpub_new” fields “valueMovedIntoConfidentialStore” and “valueMovedOutOfConfidentialStore”

[2016-08-30 03:39] ageis commented on #806
Moving this to the new infrastructure repo.

[2016-08-30 03:39] #806 closed

[2016-08-30 11:17] str4d commented on #1299
Also see #812

[2016-08-30 13:21] daira commented on #1319
@ebfull wrote:

That's would be even more confusing! All of the 'v' variables are named relative to the JoinSplit operation, *not* the transparent value pool. Any use of the terms "in" and "out" on their own will necessarily be confusing because value is going *out* of the transparent pool and *in* to the JoinSplit (or vice-versa).

That's why these variables were renamed to their current new/old

[2016-08-30 13:28] daira commented on #1319
I favour "valueProtected" and "valueUnprotected". If there is consensus on this then I'll update the field names in the spec.

[2016-08-30 17:18] ebfull commented on #1319
I don't think those names will help us avoid this situation.

I think the best approach would be to implement a function on CTransaction called `input_value` and `output_value` which just returns `vpub_in` and `vpub_out` as it stands, and use those functions exclusively in the consensus code.

[2016-08-30 18:02] ebfull commented on #629
This will be addressed by #1312.

[2016-08-30 18:02] #629 closed

[2016-08-30 18:02] ebfull commented on #659
This will be addressed by #1312 (the paths are changing).

[2016-08-30 18:02] #659 closed

[2016-08-30 18:03] ebfull commented on #1232
This will be addressed by #1312 (the key names are changing to be hashes).

[2016-08-30 18:03] #1232 closed

[2016-08-30 18:03] ebfull commented on #942
This will be addressed by #1312 (the parameter paths will not be dependent on the chain params).

[2016-08-30 18:03] #942 closed

[2016-08-30 18:09] ebfull commented on #775
I am moving this issue out of the beta milestone since it can only be replicated by one person and it's not a priority for beta.

[2016-08-30 18:09] daira commented on #1319
Hmm, why not? I am really opposed to using "input" or "output" for this; I think that's a major contributor to the confusion, since different people at different times are thinking either from the point of view of the value pool, or the JoinSplit.

[2016-08-30 18:11] ebfull commented on #1319
I want it to be obvious on the Bitcoin side that the value enters or leaves the value pool, and obvious on the JoinSplit site that value enters or leaves the joinsplit. Since it's mirrored, making a function return the opposite value with an explicit name sounds like the best approach and won't require us to modify the spec.

[2016-08-30 18:11] ebfull commented on #1319
(For the record I'm agreeing with you now that changing the name to use `input` will just shift the issue.)

[2016-08-30 18:13] ebfull commented on #838
@daira What version should we target?

[2016-08-30 18:15] daira commented on #1319
Changing the spec is low-cost, whatever else we do, because it's literally just two macros.

[2016-08-30 18:21] daira commented on #838
Assigning to myself to look at the gcc release notes.

[2016-08-30 18:40] #1122 closed

[2016-08-30 19:21] tromp commented on #1211
Have you considered launching with multi-PoW support as in Myriadcoin ?
Then changing or deprecating particular PoWs is just a matter of inflating its difficulty,
which could be implemented as either a soft or hard fork.
Note that each PoW maintains its own difficulty in Myriadcoin.

[2016-08-30 20:26] ebfull opened #1320 "sqrt thinks 0 has no sqrt"
I was doing a self-audit of our G1/G2 serialization code and wondered if libsnark's sqrt function would return 0 when 0 is the input. It actually just throws an exception because 0 does not satisfy euler's criterion. (@mdxn discovered this and encouraged me to double-check that our code was correct.)

I don't think this is a problem in practice at least for G1 because there is no x such that x^3 +

[2016-08-30 20:31] daira commented on #1320
Yeah let's fix this.

[2016-08-30 21:30] daira opened #1321 "find out why peak Equihash memory usage is high on benchmark"
https://speed.z.cash/timeline/#/?exe=1&base=1+9&ben=memory%20solveequihash&env=1&revs=50&equid=off&quarts=on&extr=on

This is currently showing quantization between 1.12 GB and 1.67 GB, possibly depending on the number of solutions. The memory usage in htop shows as around 700 MB for most of the run, so I suspect that memory is getting retained across solution checks, and/or the vectors are over-a

[2016-08-30 22:38] ebfull commented on #1298
Assigning this to you @bitcartel :)

[2016-08-30 23:07] bitcartel commented on #1293
Implemented as part of RPC calls introduced by async z_sendmany.  Closing ticket.

[2016-08-30 23:07] #1293 closed

[2016-08-30 23:11] #915 closed

[2016-08-31 01:03] nathan-at-least commented on #1043
ping @ageis: Are all the tasks here complete? If so, could you close this. If not, could you open new tickets in the infra repo and then close this?

[2016-08-31 01:05] nathan-at-least commented on #998
This ticket isn't closed, but we've already selected an algorithm to launch with. I've labeled it as a potential future audit task.

[2016-08-31 18:57] nathan-at-least commented on #1320
I see @daira added ``needs prioritization`` then @ebfull put this in Beta 1. That's fine with me _unless_ this would slow down or block any essential Beta 1 work. If so, there should be no harm to push this to Beta 2 or a later Beta release, correct?

[2016-08-31 19:00] nathan-at-least commented on #1312
Let's break out orthogonal concerns:

* #416 - I believe this is orthogonal because this ticket doesn't address serialization or compression at all and thus this and #416 can be done in either order.
* The decision about whether or not testnet & prodnet have the same parameters is orthogonal. Let's make sure the two ChainParams have the *capability* to specify different params, then we can be flex

[2016-08-31 19:05] nathan-at-least commented on #1312
Hrm. I had hoped we could do an initial change that only alters ``fetch-params.sh`` and our hosting URL layout, but it looks like we must change app code to make this work:

Let's keep that bullet in this ticket and do that as part of Beta 1.

[2016-08-31 20:07] ebfull commented on #1320
Yes, this can be tossed out of beta 1 if need be. But it shouldn't take long to do, I'll do it this weekend.

[2016-08-31 22:25] #1315 closed

[2016-08-31 23:52] str4d opened #1324 "Remove underscores from Google Test test names"
Per [this FAQ entry](https://github.com/google/googletest/blob/master/googletest/docs/FAQ.md#why-should-not-test-case-names-and-test-names-contain-underscore), test case names and test names should not contain underscores, and may break in future (with a new compiler version or a new version of Google Test) if they do. For simplicity, we should write test case names and test names with CamelCase.

[2016-09-01 00:29] daira commented on #1320
I don't want this delayed any later than beta 2, because it's a consensus-relevant bug, strictly speaking. (I don't know whether it's exploitable, and I think it's in the category of things that is easier to fix than to work out whether it's exploitable.)

[2016-09-01 00:45] eldentyrell commented on #1211
Neat idea.

Just to clarify for anybody else reading (I'm sure @tromp already knows this), the deprecation/inflation soft fork _still requires 51% hashpower support_, so it still doesn't help with the situation where you wake up one morning to discover that an ASIC exists.

However using multiple algorithms might postpone that unhappy morning or give advance warning of it (e.g. if the distribution

[2016-09-01 00:55] tromp commented on #1211
Thanks, eldentyrell, for pointing out that 51% of the blocks is needed in a PoW deprecating softfork.
But note that with 3 different PoWs, the independent dynamic difficulty adjustments will ensure
that each gets roughly 1/3 of the blocks, even if you increase hashpower of one tenfold.
So if miners of the other 2 PoWs support the soft-fork, they can outvote the third.

[2016-09-01 00:55] str4d commented on #1211
@tromp @eldentyrell See #129.

[2016-09-01 01:00] tromp commented on #1211
You may find it "too complicated" (which I disagree with), but it certainly simplifies any future needed PoW changes.

[2016-09-01 01:08] eldentyrell commented on #129
The only reason the threat is credible in the event of a 51% ASIC-mined chain is because Ethereum is [programmed to self destruct](https://github.com/ethereum/go-ethereum/pull/1588/commits/71d32f54f70917c53fd3a691cface3bc73ffa1b7) this winter.  I hope zcash is not programmed for self-immolation.

The biggest issue with Proof of Stake schemes is stake grinding.  Nothing-at-stake is an issue too, bu

[2016-09-01 01:16] zawy12 commented on #1320
It's a problem because sqrt is not a continuous function (defined) at 0 because of the limit coming from negative or positive real numbers.  If your integers can go negative, it's undefined. There's no transition between 1 and i.

[2016-09-01 01:18] ebfull opened #1325 "Prevent IncrementalWitness malleability"
We never added a default constructor for `IncrementalWitness` because it has no well-formedness checks to prevent malleability. Now that we're adding one in #1233, I want to make sure we don't forget to add them someday. It's not needed for 1.0 because we never use the witnesses in consensus code, but someday we might, and it's good for completeness anyway.

[2016-09-01 01:25] daira commented on #1320
@zawy12 This is referring to square roots in a finite field (F<sub>q</sub> or a polynomial representation of F<sub>q<sup>2</sup></sub>), so real or negative numbers are not relevant.

[2016-09-01 01:34] daira commented on #1211
It is too complicated unless we find that we need it, and in any case that option was rejected months ago, which is when it would need to have been decided on to get into 1.0.

As I wrote [here](https://github.com/zcash/zcash/issues/27#issuecomment-204432498):

[2016-09-01 02:19] zawy12 commented on #1320
That's a good point against what I said.  By "it's a problem" I neglected to clarify I meant merely the operation SQRT(0) in general is a problem.    The question has come up to make sure the Y in Y=SQRT(X) is well defined.  I believe you are saying the X is known to be a positive integer.  But I would not conclude it is safe (upon further thought) unless Y is also known to be positive and not com

[2016-09-01 03:02] daira commented on #1320
Complex solutions are also not relevant.

[2016-09-01 05:31] onics opened #1327 "Coins missing from wallet and blockchain"
After mining ~67 clear coins on the z9 network, and receiving 2 coins from a member on the Slack channel, my coins have gone missing!

It isn't apparent yet whether this is due to some fault of my own, or if there is a bug in the software somewhere. Still trying to track down the source of the issue.

Local wallets in zcashd and the public block explorer report zero balances for both accounts, and

[2016-09-01 08:55] #1199 closed

[2016-09-01 09:17] sammy007 commented on #1327
I predict the same on launch when people will waste thousands of dollars for AWS mining.

[2016-09-01 09:29] zawy12 commented on #1320
Answers on Quora also claim SQTR(0) = 0 as long negative numbers are not in the domain. So I have no math or authority figure to indicate it's exploitable. Y could be non-complex with K(1^N-1^N) but other than being silly it's probably wrong by some derivable number theory rule. And it's not extendable to the other solutions like the above complex solution.

[2016-09-01 14:34] #1185 closed

[2016-09-01 16:13] daira commented on #1320
@zawy12 I don't want to be discouraging, but your comments are not applicable to this bug. There's no question that sqrt(0) = 0 in the fields we're considering. The exploitability question relates only to whether we ever depend on computing sqrt(0).

[2016-09-01 16:22] daira commented on #1327
The behaviour of transparent coins is essentially the same as for Bitcoin. So I suspect that this is something that would also have happened with Bitcoin in the same situation, although there's not enough information to tell what exactly went wrong.

[2016-09-01 18:14] bitcartel commented on #1298
Confirmation that it's disabled by default:
https://github.com/zcash/zcash/blob/f8b73015bc964a8fd953425d972b733d53ecc7e7/src/rpcserver.cpp#L1007

[2016-09-01 18:53] #1181 closed

[2016-09-01 20:46] ebfull commented on #1320
I don't think this is exploitable at all, the exception will just prevent you from deserializing some group elements in the worst case.

[2016-09-01 21:46] ebfull commented on #1320
FYI I was talking with my friend @mdxn about this and he pointed out that the code would fail in this case, and I verified it. Thanks @mdxn!

[2016-09-01 22:16] daira commented on #1106
@nathan-at-least suggested that this might be overrideable by a user.

[2016-09-01 22:39] str4d opened #1329 "Refactor wallet code or write gtest harness to increase test coverage"
In #1233 a lot of new code was added to track notes in the wallet. A few areas of this code are not covered by gtest:

- The `MarkDirty()` call in `SyncTransaction()`
- The note-specific code in `AddToWalletIfInvolvingMe()`
- The transaction-updating code in `AddToWallet()`

This is because in order to call any of that code, we end up calling `AddToWallet(_, false, _)`, which triggers underlying d

[2016-09-01 22:50] ebfull commented on #1327
Regardless, I examined the logs and did not see any large reorgs, and see no evidence the blockchain contained transactions for the addresses you mentioned.

Perhaps you weren't fully connected to the testnet. Are you also aware that we reset the testnet between the z8 and z9 releases? Maybe you mined the coins during z8.

[2016-09-01 22:52] nathan-at-least opened #1330 "Remove unused code/dependencies/features"
We don't support some features like the Qt Wallet, so leaving the code, docs, and build targets there will mislead users. Let's remove it.

[2016-09-01 23:10] str4d opened #1331 "Add gamification to zcashd"
In our meeting today, @zookozcash suggested displaying a running tally of various mining and validation metrics on stdout while zcashd is running. The idea is that by giving the user visible numbers that increase the longer they run their node, and a sense of the public good they are doing by running it, they will have an incentive to leave their node running.

Suggested display output:
- ASCII ar

[2016-09-01 23:12] daira commented on #1330
Relevant upstream PR: https://github.com/bitcoin/bitcoin/pull/8640

[2016-09-02 01:13] nathan-at-least commented on #1298
utACK in so far as I agree with @bitcartel's assessment of the linked code. So now we need a PR which just points out that the rest interface is unaudited.

[2016-09-02 01:21] nathan-at-least commented on #1327
@onics: Can you save your ``~/.zcash`` directory by first shutting down your node then doing ``cp -a ~/.zcash ~/zcash-missing-coins``. Any other logs or data could be important.

Once you've successfully saved that data directory, do you mind sending us a tarball of it? Did you run different releases with the same data directory? Did you mine the coins on previous releases? Can you contact the per

[2016-09-02 01:25] str4d opened #1332 "Increase the coinbase maturity duration"
When we decreased the target block interval from 10 minutes to 2.5 minutes (#989), we increased a bunch of associated constants (e.g. increasing the halving interval from 210,000 to 840,000) to keep the monetary curve unchanged. However, one constant we did not change is `COINBASE_MATURITY = 100` (a network consensus rule). In decreasing the block interval, we decreased the amount of work required

[2016-09-02 01:26] nathan-at-least commented on #1106
More specifically when considering "should we make it a feature goal for 1.0 to freeze the wallet on alert?" -then I start to wonder about the trade-off between introducing a DOS vector (and the associated damage from wide-spread economic halt) versus preventing loss of funds, and it's a difficult trade-off to make.

If, on the other hand, the wallet halts and a message says something like:

-then

[2016-09-02 01:27] str4d commented on #1332
Added "needs prioritization" because this affects consensus, so we need to decide on it soon.

Implementation-wise, AFAICT it will require changing the aforementioned constant, and adjusting all RPC and Boost tests to mine that many extra blocks (as all those tests currently assume 100 confirmations).

[2016-09-02 01:30] str4d commented on #1302
The anchor cache is currently the same size as the coinbase maturity duration, so if we do encounter this issue, we'd also be dealing with the issue of transactions becoming invalid due to non-existent coinbase.

[2016-09-02 01:30] str4d commented on #1298
@nathan-at-least see #1328

[2016-09-02 03:06] ebfull commented on #1332
This maturity rule can be made stricter after launch if necessary, but I'm not convinced we need to do it at all.

[2016-09-02 03:17] str4d commented on #1332
It can be, but doing so would require a hard fork. If we're happy with that as the resolution, I'm happy; I'd just like the resolution documented for our future benefit :smiley:

[2016-09-02 03:19] ebfull commented on #1332
It wouldn't require a hardfork to increase the coinbase maturity since you're making previously valid transactions invalid.

[2016-09-02 03:24] str4d commented on #1332
Oh, yes, you're right. I had my directions backwards :sweat_smile: That was my only concern, so if we're happy with that as the potential resolution, this issue can be closed.

[2016-09-02 04:11] #1298 closed

[2016-09-02 05:46] onics commented on #1327
@daira I agree, it doesn't seem like a specifically Zcash issue either, but I don't have enough experience on BTC or other testnets to know if it occurs there as well.

@ebfull Currently testing on the z9 network with current proving and verifying keys. I have only started mining since z9, and never had a working client with z8. Not sure how to have been more connected to the testnet. Compiled fro

[2016-09-02 12:14] daira commented on #1320
The issue would be that this affects consensus: if one implementation fails to decompress a point and another accepts it, then an adversary can split the chain. So we would not be able to fix it without a fork.

[2016-09-02 18:37] daira commented on #1332
I'm pretty sure we had already considered this in an engineering meeting, and decided it was fine. We're past consensus freeze, and I don't see a significant security issue, so let's close this.

[2016-09-02 18:37] #1332 closed

[2016-09-02 23:14] BitHighlander opened #1333 "API request, ListSinceBlock for zaddrs"
In order to integrate Zcash and allow deposits in private payments for customers; exchanges and power users will need to monitor a large amount of addresses. In order to facilitate this it is extremely hard to look up on payments single addresses via api. As for a large exchange this could mean 100,000 api calls + for just looking for payments, and this needs to be continual.

This is why we would

[2016-09-03 01:33] daira commented on #951
This is now documented in (my local copy of) the protocol spec.

[2016-09-03 01:37] daira commented on #437
I didn't see this bug before. It seems worrying since it could be a DoS vector. Do we still have that crashes/437 directory? Did we change that assertion to ``assert_except``?

[2016-09-03 01:43] daira commented on #500
The proof failure will be documented in the next version of the protocol spec. (There were two errors related to this in the Ledger Indistinguishability proof for Zerocash.)

[2016-09-03 02:00] daira commented on #854
Current situation:

|Constraint                                       | Zerocash           | ZCP 2.0-beta   | Latest code    |
|-------------------------------------------------|--------------------|----------------|----------------|
|v<sup>old</sup><sub>i</sub> ≥ 0                  | Yes (4.2/2.)       | Yes            | Yes            |
|v<sup>new</sup><sub>i</sub> ≥ 0                  | Implici

[2016-09-03 02:05] ebfull commented on #437
The assertion in this code basically is checking if the point is in the affine (z coordinate is 1 in the jacobian) during precomputation (basically, a part of the pairing that can be done with just the G2 element, because G2 arithmetic is so expensive). The point at infinity cannot be expressed in the affine. The likely cause was a proof or verification key that contained a spurious (or all) zeroe

[2016-09-03 02:37] alfiedotwtf commented on #1331
Gamify sounds too cutesy, but this does have value.

How about just keeping it as "metrics" or "showmetrics"?

[2016-09-03 02:46] str4d commented on #1331
Aww :sob: :video_game: :space_invader:

Yeah, either of those would be good. I like `metrics` being about as short as `gamify`, but `showmetrics` might be clearer havin a verb like `gamify`.

[2016-09-03 04:36] alfiedotwtf opened #1334 "Typo in params README"
-This directory stores common zcash zkSNARK parameters. Note that is is
+This directory stores common zcash zkSNARK parameters. Note that it is

[2016-09-03 07:40] ebfull commented on #1329
I'm placing this in the engineering meeting agenda because while @str4d and @bitcartel have built these components, there were some bugs they had to fix which they can't test against with the infrastructure we have currently.

[2016-09-03 09:56] str4d commented on #147
Thanks @zawy12 for making these graphs, and your ongoing discussions in the forum!

The graphs of block interval do appear to show oscillatory behaviour, similar to what my original DigiShield simulations indicated. Since block interval oscillations can be leveraged by both adversarial and economically-driven miners to the detriment of other miners and overall network health, I consider this to be

[2016-09-03 11:39] daira commented on #147
While we do have another consensus change to make for beta 1 (https://z.cash/blog/metamorphosis-of-malleable-transactions.html), let's keep the bar to such changes high and only include things that would be serious security weaknesses. I agree with reopening this issue, but it's quite possible we won't have time to address it.

[2016-09-03 12:32] zawy12 commented on #147
I appreciate your attention.  Avg past D coinciding with Avg past T as in next D = Dsum(N)*150/Tsum(N) remains pure and prevents the oscillations.  Looking at DGW, the same positive feedback problem seems present, necessitating the limits, which counteracts what it is trying to do.  But to catch an attack as well as these positive feedback methods, the simple average ratio method has to be smallis

[2016-09-03 12:47] daira commented on #147
Note that we're unlikely to be able to do more than small tweaks to the parameters of the existing algorithm (which includes what @str4d has suggested) before launch.

[2016-09-03 14:07] zawy12 commented on #147
The current v3 equation is:
next D = (last D) x 150 / (avg past 17 times)  with 8% rise limit and 16% drop limit.

The agreed-upon change is that "last D" needs to be changed to an average of the last few D's.  This means the 17 needs to be smaller in order to be as responsive.  If you change the two equally, you end up with my recommendation N=8 and there is no need for limits on the rise and fal

[2016-09-03 14:45] daira opened #1335 "Hard-code the verifying key"
The [BCTV14 JoinSplit] verifying key is only 1449 bytes. We might as well hard-code it, which would obviate any concern about it getting out-of-sync with the code.

Note that there is value in using a simpler mechanism to obtain the verifying key than the proving key, because accepting a wrong verifying key can lead to acceptance of invalid transactions, while a proof made with the wrong proving k

[2016-09-03 14:48] daira commented on #1312
See also #1335 ("Hard-code the verifying key").

[2016-09-03 14:49] daira commented on #1335
Note that some software derived from the Zcash codebase might not need proving. If we did this, then such software could strip out the parameter loading mechanism for the proving key.

[2016-09-03 17:13] ebfull commented on #1335
Yes, I was definitely going to do this as part of #1312.

[2016-09-03 21:30] bitcartel commented on #1333
With bitcoind, what JSON-RPC calls do you currently make use of to achieve the above?

[2016-09-04 06:38] str4d commented on #1106
@nathan-at-least the user can disable this functionality in two ways: set `-alerts=0` to disable alerts entirely, or `-disablesafemode` to ignore all safe-mode suggestions (both local and by alerts). If desired, we could add a third flag to just disable the alerts-trigger-safe-mode functionality.

[2016-09-04 11:56] daira commented on #826
Add Zcash-specific safe calls to the calls allowed in safe mode.

https://github.com/zcash/zcash/pull/1337#issuecomment-244599148

[2016-09-04 12:09] daira commented on #764
@defuse Did you do the things in https://github.com/zcash/zcash/issues/764#issuecomment-240573723 ? Please reassign to someone else if appropriate.

[2016-09-04 12:15] daira commented on #147
This is an urgent priority for the engineering meeting because it's a consensus change, so any tweaks would need to get into beta 1 in order to happen before the launch. (Note that this also make any change risky because we'd have to make another consensus change if we needed to revert.)

[2016-09-04 12:17] daira commented on #147
Based on that I think that changing the algorithm, as opposed to tweaking the parameters of the existing algorithm, is right out.

[2016-09-04 12:18] daira commented on #147
@str4d Have you implemented the change suggested in https://github.com/zcash/zcash/issues/147#issuecomment-244537827 ?

[2016-09-04 13:08] str4d commented on #147
@daira I'll be implementing it my tomorrow, so it will be ready for review by your Monday.

[2016-09-04 22:34] defuse commented on #826
Notes from our collective brainstorm (which happened a long time ago; I just recently found the notes I took from the meeting):

- Dust -- turn it off?
- Pruning / Joinsplit -- Make sure we don't prune stuff we still need (UTXO are spent but still have pours or something)
- Would be nice to simulate launch + activity for x years into the future.
- Split up research work and recombine in a new meet

[2016-09-04 23:39] zawy12 commented on #147
With simple N=8 average, the 15-block attack would have had to pay double network difficulty on the 5th block and his full hashrate difficulty at the 8th one.  The drawback is that it has random ups and downs which can be timed, but that's not much of an attack. It can't be tricked into issuing too many blocks.   Another drawback is that a 4-block attack could be done every 12 blocks without penal

[2016-09-05 02:15] onics commented on #1327
Think I may have found the issue. It looks like my local clock on my computer may have been out of sync. Noticed I was getting clock errors when I tried updating other software.

Going to try resyncing my clock and begin mining again.

Will close this issue if the experiment is successful.

[2016-09-05 02:24] daira commented on #1327
https://github.com/bitcoin/bitcoin/commit/c9c017a is an upstream patch to improve the error message in case of bad clock sync.

[2016-09-05 02:32] daira commented on #1327
See also https://github.com/bitcoin/bitcoin/issues/6989

[2016-09-05 03:33] zookozcash commented on #714
We decided (it was my call to make) that BN_128 is safe enough for Zcash “Sprout” 1.0. I think we should upgrade it eventually. (To do so will require what blockchain specialists call a "hard fork" — new transactions are accepted by the new software but rejected by the old software — but _not_ what the blockchain enthusiasts and the press call a "hard fork" — contentious, acrimonious, and resultin

[2016-09-05 04:04] onics commented on #1327
Syncing my clock appeared to fixed the problems I was having updating block information. I am continuing mining efforts, and will see if any coins mined from this point forward are retained in my wallet.

My previous transaction I received from another member also reappeared in my transaction list.

Thank you for your help and feedback on solving this.

[2016-09-05 04:04] #1327 closed

[2016-09-05 04:58] str4d commented on #147
@zawy12 Hmm, I've tried implementing the above algorithm in the simulator, and it results in huge difficulty spikes, each shortly after returning from `N = 25` to `N = 2`:

![difficulty-algo-zawy](https://cloud.githubusercontent.com/assets/4993799/18237689/789b0fe4-7388-11e6-9094-047aedfd1e40.png)

Here's the code for the algorithm:

[code]

Note that the simulator uses a straight Poisson distribu

[2016-09-05 07:32] zawy12 commented on #147
Are you changing your Poisson distribution for each solve time as a function of the current difficulty?

[2016-09-05 07:42] daira commented on #147
We can't just rinse and repeat. Every change to this is a hard-forkng consensus change, and we MUST stop making those, ideally with beta 1.

[2016-09-05 10:55] zawy12 commented on #147
I tested it on the true data from debug.log instead of personal log.  Change from N=2 to N=3 on the > 2.5 line.   A 10x attack like the one below would result in a 10x delay on a single post-attack block (25 minutes).  I am excited about this algo, if Zcash uses it or not.  It needs a change to prevent an attack that would be 5 blocks on, 5 blocks off repeatedly. They seem to be capable of and pla

[2016-09-05 11:59] zawy12 commented on #147
It looks like people are going to steal 1/3 of blocks at will using 10x hash rate by paying only 1/3 more in difficulty.   This sequence of times in seconds was after an obvious attack . It shows 17 solves above 2 intervals (regular miners),  and 7 at 1/5 interval  (it's a subtle 10x attack), with only about 3 numbers ni between.   With a day or two of work, I can stop this.  It matters to me beca

[2016-09-05 12:08] str4d commented on #147
@daira I agree we need to define this ASAP, but we also need to get this particular aspect as stable as we can, or we will end up pushing out a hard fork two weeks after launch. As friendly as we are to hard forks, I'd prefer to try and leverage whatever data we can get to make it less likely, and I think we will have a much better idea of whether or not we need to make another minor tweak once be

[2016-09-05 12:10] str4d commented on #147
@zawy12 it's not clear to me whether your algorithms (and resulting figures) are using the median block time or not. We use median block times in order to limit attacks caused by adversaries selecting whatever timestamps benefit them the most.

[2016-09-05 12:22] zawy12 commented on #147
$ActualTimespan[3] / $TargetTimespan[3]  in the above sequence of 308, 21, 39 for the last 3 blocks is
3 x 150 / (308 + 21 +39).  When multiplied by the sum of past 3 block difficulties, the difficulty and the Actual Time for them are thereby both medians since the N cancels.

[2016-09-05 12:40] daira commented on #147
^ Isn't that the mean, not the median?

[2016-09-05 12:43] zawy12 commented on #147
Oops yeah.

[2016-09-05 12:47] zawy12 commented on #147
Here it is with median
![screenshot from 2016-09-05 08-46-36](https://cloud.githubusercontent.com/assets/18004719/18248312/69f0fab4-7345-11e6-84b0-25d76599b95a.png)

[2016-09-05 13:13] zawy12 commented on #147
I believe timestamps on past blocks is fixed, so I don't understand what you mean by adversaries selecting a timestamp.  Or why affixing it to the median is different from affixing it to say the int(mean).

[2016-09-05 15:04] bitcartel commented on #1171
Close due to rollback #1316

[2016-09-05 15:04] #1171 closed

[2016-09-05 15:41] zawy12 commented on #147
D=1 is now correct in z9?   The "attack" above was just when it's D=1.    Why are no solve times  more than 330 seconds?  It should be more than 20%.

[2016-09-05 16:06] zookozcash commented on #1331
https://twitter.com/mineZcash/status/772429541776035840

[2016-09-05 16:28] zawy12 commented on #147
It looks like you're multiplying by a Sum of Past N blocks based on the previous N ~ 10 to 24, not the current N=2 when it is triggered.  So the peaks are 5 to 10x higher than they should be.

[2016-09-05 17:38] daira commented on #1241
This will probably be fixed in Boost 1.62.0: https://svn.boost.org/trac/boost/ticket/11097#comment:10

[2016-09-05 17:40] daira commented on #1241
... but we probably don't have time to wait for that. Shall we upgrade to Boost 1.61.0 and apply the patch through the depends system, then see whether that fixes the ThreadSanitizer report?

[2016-09-05 17:44] daira commented on #1241
The patch doesn't look risky; it should be completely safe to apply in isolation.

[2016-09-05 17:46] daira commented on #1241
See also #944 (the ticket to upgrade Boost), and #1259 (another ticket that requires patching Boost 1.61.0).

[2016-09-05 18:06] aniemerg opened #1340 "IsValidSolution returns before logging incorrectly ordered index tree."
Can be seen [here] at line 745 of Equihash.cpp.  (https://github.com/zcash/zcash/blob/zc.v0.11.2.latest/src/crypto/equihash.cpp#L746)

`if (X[i+1].IndicesBefore(X[i], hashLen, lenIndices)) {`
`return false;`
`LogPrint("pow", "Invalid solution: Index tree incorrectly ordered\n");`
`}`

[2016-09-05 18:30] 0x64616E69656C commented on #1241
Maybe this'll help:

**1. This is the full dump from back in march when I ran the testsuite with TSAN:**

[code]

[code]

[code]

[code]

[code]

**2. and this is the "full" dump from back in february, when running the testsuite with ASan**

[code]

[2016-09-05 18:41] 0x64616E69656C commented on #1241
note: this was just "having quick look" with distro gcc 5.3 w/o further instrumentation. I'm still hoping for a fix for #1057 :-)

[2016-09-05 19:51] zookozcash commented on #1331
Assigning to Nathan to decide if we can put this into 1.0. I really hope so! :-)

[2016-09-05 20:15] jyap808 opened #1343 "Error in difficulty algorithm calculation"
There are some incorrectly placed parentheses leading to an incorrect calculation.
[code]

TLDR this should be:
[code]

You can do the math but incorrect formula results in MinActualTimespan > MaxActualTimespan.

Refers to commit #931

[2016-09-05 20:25] ebfull commented on #1343
I don't see how the code is any different with your change. Multiplication and division have the same precedence and associativity.

Are you suggesting that `(100 - nPowMaxAdjustUp) / 100` should be multiplied by `AveragingWindowTimespan()`? I don't know the details of the algorithm to say whether or not that's correct.

[2016-09-05 20:35] jyap808 commented on #1343
Er, sorry, wrong on my side. Looks good.

[2016-09-05 20:35] #1343 closed

[2016-09-05 21:21] ebfull commented on #1329
In the meeting today we agreed not to delay the Beta 1 release to write full integration tests of this code, but @str4d will be writing unit tests for as much of it as possible.

[2016-09-05 21:43] daira opened #1344 "Extensible payment addresses"
One axis for changing the protocol to support new features is to add new information in payment addresses.

As a concrete example, suppose that we want to include a field in addresses that will be included in the memo of notes sent to that address, so that it is possible to generate addresses distinguishable by the recipient without additional overhead. (To give credit where it is due, this is a p

[2016-09-05 21:50] ebfull commented on #432
@nathan-at-least Assigning this to you.

[2016-09-06 00:14] str4d commented on #147
@zawy12 the code above is JavaScript, and it definitely is using the correct N (`this.nAveragingInterval` in the code): see how it first checks the last 2 blocks and sets `this.nAveragingInterval = 2` if they are outside the bounds, and after that it continues back up to `this.nAveragingInterval` blocks to sum past difficulties and get `nActualTimespan`.

[2016-09-06 00:16] str4d commented on #147
Put another way, if the limits are triggered, then `this.nAveragingInterval` gets set to 2, and so the second for loop will do nothing and exit immediately, leaving `sumDifficulties` and `nActualTimespan` being calculated for `N = 2`.

[2016-09-06 04:03] ageis commented on #1287
The problem is that nobody has been granted "try" rights, only reviewer rights.
[code]
Is it okay to copy the same list to `try_users`?

[2016-09-06 04:04] #1043 closed

[2016-09-06 04:04] #454 closed

[2016-09-06 05:45] zawy12 commented on #147
Assuming green is block solve time and red is difficulty, the plotting can't be correct if my basic understanding is correct: if difficulty jumps 10x and the hash rate is relatively stable (blue?), then the solve time must jump 10x.

[2016-09-06 06:37] str4d commented on #147
@zawy12, in my simulations, red is the difficulty, green is the block interval averaged over the short interval (10 blocks), and blue is the block interval averaged over the long interval (100 blocks). The total hash power is stable, apart from a single entity controlling 35% of total hash power, which turns on and off every 500 blocks (starting on at block 0).

[2016-09-06 06:39] zawy12 commented on #147
OK, yes, your chart concurs with my math for a Poisson process with a stable hash rate and my settings. There should be about 5 jumps up and 5 jumps down per 100 blocks.  It may by that by judging it by observation instead of theory, my algo is useless.  But it needs to be "investigated" why this is so.   In particular, there are no block times since block > 1500 that was more than 330 seconds ( A

[2016-09-06 10:04] daira commented on #147
@zawy12: the reason for the block times not being greater than 330 seconds is the testnet-specific minimum difficulty rule. It will be removed in beta 1, since it's obviously causing confusion and is an obstacle to understanding what the behaviour will be on mainnet.

[2016-09-06 10:24] zawy12 commented on #147
@daira str4d said in the related issue the same as my thoughts:  someone is turning a big miner on when they see > 300 seconds (5 minutes) which is why the "1" is solved quickly.  My big confusion with "1" was the result of it never being actually set to "1" for the solve time.  str4d has said  that this is the case.  It shows "1" but as far as solve time, it's internally kept at the previous diff

[2016-09-06 10:48] daira commented on #147
It's not necessary for there to be a big miner switching on in that case; the expected outcome is that whichever miner next finds an Equihash solution after the 5 minutes, will grab the block. It's not surprising at all that this would take less than 30 seconds.

Honestly, focusing on the minimum difficulty behaviour is not useful, because it's testnet-specific and is going away.

[2016-09-06 11:04] zawy12 commented on #147
If a big miner is not turning on, how can it suddenly violate a Poisson distribution with a rigid limit?     Both things for me are about trying to understand what the network is doing under testnet conditions so I can know what to expect from mainnet when the programmign differences are removed.   D=1 took  40% longer than D=80 on z8.   D=1 has generally been the same as D=150.  But suddenly in z

[2016-09-06 14:39] daira commented on #147
I'm not sure how much if anything can be inferred from behaviour when D = 1, but just to clarify the current behaviour on testnet: at the time of the difficulty switch 5 minutes after the previous block, all miners will already be some part of the way through a solution run. Whichever one gets there first will obtain the block. So the expected time to obtain a block after 5 minutes is essentially

[2016-09-06 14:43] daira commented on #147
What may be confusing you @zawy12 is that although the difficulty for the *current* block is set to 1 after 5 minutes, the difficulty used for input to the adjustment algorithm for the next block is unchanged.

[2016-09-06 14:49] daira commented on #147
Also, the oscillation problem seems very likely to be fixed completely by @str4d's averaging change, as far as we can tell from simulations.

[2016-09-06 14:56] daira commented on #147
Incidentally, the way we're graphing block times does tend to exaggerate the variability. When we have time we might try to find a visualisation that properly takes into account the expected variability of the solution process and teases apart the effect of the difficulty adjustment on that. Maybe we should hire a statistician? (Serious suggestion.)

[2016-09-06 15:28] mcelrath commented on #147
I'll reiterate a previous comment: All behavior of the difficulty adjustment algorithm can be understood in terms of a damped harmonic oscillator: https://en.wikipedia.org/wiki/Harmonic_oscillator#Damped_harmonic_oscillator

Median time is the correct thing to do as str4d points out, and all other parameters can be understood as fooling with the damping factor and averaging window.  But!  There's

[2016-09-06 17:36] daira commented on #944
Boost 1.62.0 is [in beta](http://www.boost.org/users/history/version_1_62_0.html) so it *might* be released in time for us to use it.

[2016-09-06 17:49] zawy12 commented on #147
OK, thanks to daira's comment I understand it (finally).  I had no idea (and was never was able to imagine) it was possible to change the difficulty in the middle of a block that was being solved, so I was not able to understand their comments.  In my testing, I should not have used any D=1 blocks, even by assigning the previous difficulty. It's not convertible to anything that can be used for tes

[2016-09-06 20:03] bitcartel opened #1345 "RPC call getbalance can return wrong value as wallet does not always handle utxos consumed entirely by notes"
The following two commands use different upstream code to compute the transparent balance, and they should give the same answer as noted in upstream comments.  However, they do not.

[code]

The correct balance is 0.1.

The problem is that the second method of computation uses `CWalletTx::GetAmounts` which does not consider a transaction as spent, _when the transaction has no transparent outputs_

[2016-09-06 20:23] str4d commented on #1345
IIRC this RPC command is being deprecated, but we should still fix this because we will likely be reusing the underlying calculation code in the new RPC command.

[2016-09-06 21:58] nathan-at-least opened #1346 "NCC-2016-017 - Key Loading Script Subject to Man-in-the-Middle Attack"
deploying the zcash daemon. At worst, this will cause any transactions created by the zcash
daemon to be rejected by nodes with correct keys.

domain. While this connection is made over TLS no certificate validation is performed due
to a known wget discrepancy (see the code comments below). Rather, SHA256 checksums
are computed and checked against the known good values within the script body.
Howe

[2016-09-06 22:00] nathan-at-least commented on #1312
@ebfull and PR reviewers: please verify that the new design is not vulnerable to #1346.

[2016-09-06 22:01] str4d commented on #1329
The note-specific code in `AddToWalletIfInvolvingMe()` is too insignificant (just appropriately-placed function calls) to be able to mock out, and the functions called are already tested, so I can't write unit tests for that without the full refactor or integration tests. I will refactor the other two areas for testing.

[2016-09-06 22:13] daira commented on #437
I'm satisfied that this is no longer exploitable.

[2016-09-06 22:18] nathan-at-least opened #1347 "NCC-2016-006"
We're currently assessing impact before publishing more detail.

[2016-09-06 22:21] bitcartel commented on #1201
Implemented as part of #1274 in commit 22c5408

[2016-09-06 22:23] daira opened #1348 "NCC-2016-007 - Upgrade OpenSSL"
Short-term alternative to #145 (Investigate feasibility of removing OpenSSL dependency).

Note that code we've written no longer depends on OpenSSL, but code inherited from Bitcoin does.

[2016-09-06 22:24] nathan-at-least opened #1349 "NCC-2016-014"
We're currently assessing impact before publishing more detail.

[2016-09-06 22:28] ebfull commented on #437
I think I found a tricky way you could trigger the bug, maybe.

You could coax vk<sub>x</sub> (the packed nullifiers and commitments and so on) into being the negative of a valid proof's π<sub>A</sub> during the QAP divisibility check. I don't think there's a way to coax it without beating ECDLP. The same thing appears in the same coefficient check. Can you take a look?

(By the way, the implement

[2016-09-06 22:33] ebfull commented on #437
Again, in the worst case is should just throw an exception anyway, so I'm not suggesting this is actually "exploitable."

[2016-09-06 22:33] daira commented on #437
Right, but let's fix this if we have time.

[2016-09-06 23:04] str4d opened #1350 "Generate witnesses for old notes when a key is imported"
Say a user has two Zcash nodes on two different machines, running for some period of time, and then they want to merge them. The strategy would be to export their private keys from one wallet and import them into the other wallet. Currently, if this occurs, old notes sent to the transferred keys will be detected by the wallet (assuming that the user does not set `rescan=false` when calling `z_impo

[2016-09-07 00:44] zawy12 commented on #147
I'm getting surprisingly good results with the following.It responds to attacks with correct difficulty and returns to normal in 3 blocks. The drawback is that it has maybe twenty 10 minute intervals per day. But as I recall 2.5 minutes is less of a requirement than even distribution of mining.  There's no error introduced by a medium.

**(next difficulty) = (last difficulty) x SQRT [ (150 seconds

[2016-09-07 03:15] ageis commented on #1287
This should be set. Can someone initiate a **try** to verify and let me know whether it worked out?

[2016-09-07 06:03] ageis commented on #630
I've forked bitcoin-seeder and made some modifications to make it compatible with Zcash. https://github.com/zcash/zcash-seeder/pull/1

I'm running it on alphatestnet.z.cash and there's a DNS record for dnsseed.testnet.z.cash (args: `./dnsseed -h dnsseed.testnet.zcash -n alphatestnet.z.cash -m 'sysadmin@z.cash' --testnet`).

It is logging and responding to DNS requests from examples like `dig -t NS

[2016-09-07 09:25] zawy12 commented on #147
A Poisson generator will give 1.5 second solves 1% of the time for a 150 second solver.  This is what throws off my low N methods (1, 2, or 3 instead of 17)  that work on testnet.   Is there some way to prove a lower limit on the solve time in order to make a Poisson generator for this testing more realistic?

[2016-09-07 16:55] #1320 closed

[2016-09-07 17:25] #1309 closed

[2016-09-07 21:02] #1319 closed

[2016-09-07 22:31] bitcartel opened #1354 "What useful metadata should an async sendmany operation return?"
A sucessful operation currently returns:

[code]

Should we also include data such as how long the operation was in the queue, what time execution started, etc?

[2016-09-08 02:52] #147 closed

[2016-09-08 11:35] daira opened #1356 "make ParseHex stricter, or add ParseHexStrict"
From https://github.com/zcash/zcash/pull/1274/commits/27a0d8428460592a0c154f1cd90a3012adaab060 :
[code]

I can't think of a good reason for ``ParseHex`` to silently be this permissive. We should either make it raise an exception on invalid input (and check call sites to verify that's ok), or add a ``ParseHexStrict`` variant. I think ``ParseHex`` is used most often in tests or with literal string i

[2016-09-08 12:18] daira opened #1357 "Improve speed/reliability of async RPC tests by avoiding timed waits"
E.g. in the test at https://github.com/zcash/zcash/pull/1274/files#diff-0745db44791e51061a62e0bb159c102bR531 , we wait one second to ensure (hopefully) that an RPC operation has completed before checking it. This is a testing antipattern; it makes tests slow or unreliable or both.

[2016-09-08 15:18] daira commented on #1344
A disadvantage of this is that it means an address is in general no longer completely determined by its spending key.

[2016-09-08 15:31] nathan-at-least commented on #1344
Hm...  I'd like to postpone discussion of post 1.0 features at least for one or two weeks/eng meetings to focus on Beta releases and 1.0 launch. @daira if we remove the label can you remember to reset it in two weeks?

[2016-09-08 15:36] #1304 closed

[2016-09-08 15:42] nathan-at-least commented on #1138
I propose this versioning scheme:

* Beta releases will be versioned ``1.0.0-beta<N>`` with N incrementing for each beta release.
* Before we launch, we'll have one or more release candidates with version ``1.0.0-rc<N>``.
* The launch will be version ``1.0.0``.

There are three numbers in the version schema. The initial/major number (starting at ``1``) corresponds to our marketing terms for releas

[2016-09-08 15:49] daira commented on #1344
Er, probably not. Shall I remove the label but put it in the beta2 milestone so that we don't forget it?

[2016-09-08 16:46] bitcartel opened #1358 "Refactor a few wallet calls for better testability: z_getbalance, z_gettotalbalance"
We need to refactor rpcwallet's getBalanceTaddr() and  AsyncRPCOperation_sendmany find_utxos() into the wallet so testing is easier and we can get better test coverage.

Related to #1329. With a test harness in place, it will be easier to check that the balance of notes is correct, while checking the balance of UTXOs calls into existing upstream methods.

Related to #1345 where the wallet internal

[2016-09-08 17:22] zawy12 commented on #147
The only good solution I've found is to not let the difficulty decrease. That seems to solve all difficulty and attack problems.  If miners find it unprofitable to find blocks because of a decrease in coin value, then mining and coin issuance **should** stop to balance supply and demand, and switch to fees until value returns by its increased use in the marketplace. It takes time out of the equati

[2016-09-08 19:59] nathan-at-least commented on #1344
Let's leave the label and we'll probably postpone discussion to a later week.

[2016-09-08 20:16] bitcartel opened #1359 "Check the number of joinsplits in a sendmany transaction is valid"
Currently there is no limit set on the number of joinsplits, so the size of tx could be invalid.
We should consider what the maximum number might be and enforce it in z_sendmany.
We should estimate the number of joinsplits required and report that a transaction cannot be created before any joinsplits are created.
Related to #1128 fee selection.

[2016-09-08 20:19] bitcartel opened #1360 "Develop a better note selection heuristic when sending private funds"
Which notes should be selected first?  Biggest value?  Oldest note?
What fee #1128 should be associated?
Used by z_sendmany and in future other calls.

[2016-09-08 20:22] bitcartel opened #1361 "Replace tuples with structs or plain data classes"
Reviewer wishes to change use of tuples in async sendmany operation, per comment here: https://github.com/zcash/zcash/pull/1274#discussion_r78078017

[2016-09-08 22:34] zawy12 commented on #998
The recent time warp attack on z9  seemed pretty simple while using apparently 2.5x hashrate.  They simply forward-timestamped a block by 3000 seconds, then mined faster than everyone else for about 30 minutes, getting about 30 blocks, losing a few to others.  They timestamped the ones they got all 30 minutes behind in time from the first one, within 1 second of each other.  This kept the median a

[2016-09-08 22:46] ebfull opened #1362 "Memo field RPC should be more restrictive"
Users should just be able to supply the contents of the memo, and it should be enforced as valid UTF8, and the leading byte should match what the specification encourages users to use.

[2016-09-08 22:50] ebfull opened #1363 "Should taddr coinbase to zaddr transactions have edge case in change handling?"
Simon and I figured that the change address from a coinbase spend in the wallet on a taddr -> zaddr case could just use the zaddr as the change, so long as the user is required to supply just a single zaddr. It may be non-intuitive though. Instead an alternative might be to force the user to supply a change address in this particular case, but that would make it somewhat irregular compared to othe

[2016-09-08 22:58] str4d commented on #1363
Third alternative: require transactions containing coinbase to spend all the inputs, without leaving change. That's essentially what the current code enforces, and might be easier for users to comprehend. But it means either the users have to get the correct tally, or they will fail first time and have to redo (the error could tell them what really to use).

[2016-09-08 23:30] bitcartel opened #1364 "Refactor and abstract out code for preparing a transaction with joinsplits"
[code]

and also when adding a signature to the tx.

[2016-09-09 02:21] daira opened #1365 "Address possible race condition in AsyncRPCQueue"
https://github.com/zcash/zcash/pull/1274/files#r78090033

@bitcartel:

@daira:

@daira:

[2016-09-09 03:13] bitcartel opened #1366 "Maybe add extra error output if signing a z_sendmany tx fails"
https://github.com/zcash/zcash/pull/1274#discussion_r78119002

We use upstream code to sign a tx:
`Value signResultValue = signrawtransaction({Value(rawtxn)}, false);`

We need to research more about how it returns "errors" and the "vErrors" array, and if contains anything
useful we want to return to the RPC caller.

[2016-09-09 05:04] str4d commented on #1138
There are several aspects to the version system:

- The visible version (`zcash* -version`)
  - This comes from the Git tag for clean builds, and otherwise is generated in `clientversion.cpp`.
- The implementation version (in e.g. network messages) - [BIP-14](https://github.com/bitcoin/bips/blob/master/bip-0014.mediawiki)
  - This comes from `FormatSubVersion` in `clientversion.cpp`
- The `CLIENT_

[2016-09-09 05:41] #1201 closed

[2016-09-09 06:47] str4d commented on #1138
@ebfull and I have decided to operate exactly like Bitcoin, ie. `-betaN` will be represented by the Git tag, while `CLIENT_VERSION` will be set to `1.0.0`.

[2016-09-09 14:15] daira commented on #1138
IMHO CLIENT_VERSION *should* distinguish beta releases. Upstream uses 99 in the revision field for non-releases. Also note that the client version is used in alerts to distinguish which releases an alert applies to. I propose that we set the version to:
* (A, B, 99, 0), for development branches preceding the A.(B+1) series
* (A, B, C, D) with D < 10, for vA.B.C-betaD
* (A, B, C, 10), for vA.B.C

[2016-09-09 14:54] daira commented on #1200
#1274 has been merged.

[2016-09-09 14:54] #1200 closed

[2016-09-09 15:07] daira commented on #1138
The CLIENT_VERSION for beta 1 was 1.0.0.0. It's retrospectively consistent with the above proposal :-)

[2016-09-09 15:15] daira commented on #1186
This didn't make it into beta 1.

[2016-09-09 15:18] daira commented on #1114
Fixed; master is now the default branch on github.

[2016-09-09 15:18] #1114 closed

[2016-09-09 15:20] daira commented on #1202
I suggest we swap the order of the first and second If/Then.

[2016-09-09 17:13] bitcartel commented on #1202
This ticket is out of date, the integration guide currently lives in a Google Doc.

[2016-09-09 20:59] nathan-at-least commented on #1202
I'm going to move this into Beta 2, even though it's 99% complete. The next steps are basically to "officially publish" it, and then maybe blog about it, but I'd like to do that next week and consider Beta 1 complete without the fully published ZIG.

[2016-09-09 21:01] nathan-at-least opened #1369 "Set up network bootstrapping dns hooks for prodnet."
This brings the work from #630 to our prodnet.

[2016-09-09 21:01] nathan-at-least commented on #630
I retitled this to be about testnet and set up a different ticket for prodnet. If this works for the testnet as of Beta 1 release, let's close it.

[2016-09-10 00:12] daira opened #1371 "Change strMessageMagic to "Zcash Signed Message:\n";"
https://github.com/zcash/zcash/blob/master/src/main.cpp#L93

This is used by the signmessage and verifymessage RPC commands. See also https://github.com/trezor/trezor-mcu/commit/e0e190b3dc29bcb0f6ab9699c439fe7bfbcde370#diff-7764c71ab044fb40d606b78c4ba329e1R31 (Trezor firmware update).

Ref #826.

[2016-09-10 10:16] str4d commented on #945
I would like to reconsider our including this in 1.0, for three reasons:

- The block explorer does not support viewing P2PK transactions, instead treating them as P2PKH outputs (due to default rendering) and unparseable inputs (when they get spent).
- The Bitcore patches applied to `zcashd` do not support indexing P2PK transactions, which has already resulted in numerous user questions about why

[2016-09-10 10:40] str4d opened #1373 "Make the RPC error clearer when failing to spend coinbase"
It appears that some users are having trouble spending coinbase (e.g. [here](https://forum.z.cash/t/can-anyone-use-the-mining-reward/1639?u=str4d)). The RPC error doesn't indicate that the problem is with the consensus rule that coinbase must be spent in a JoinSplit. We should see if we can improve the error message.

[2016-09-10 11:51] daira opened #1377 "Lock input UTXOs and notes in z_sendmany"
Perhaps `z_sendmany` should have an initial synchronous phase that locks the inputs it will use?

[2016-09-10 12:36] daira commented on #1360
The current algorithm leaks information in the vpub_new values of intermediate JoinSplits. Consider for example this transaction (sending 0.9581 TAZ from a single z-addr to a single t-addr, but combining more than 2 notes). The vpub_new values of the constituent JoinSplits leak the sum of values of pairs of input notes.

It would have been possible to avoid this leakage by having all of the JoinSp

[2016-09-10 12:48] daira commented on #1360
For example, let's say you need to send 5 input notes to one t-addr. The least number of JoinSplits possible is 3, but the solution that minimizes information leakage from vpub_new values has 4 JoinSplits, e.g.:

in[0] + in[1] -> temp[0]
in[2] + in[3] -> temp[1]
in[4] + temp[0] -> temp[2]
temp[1] + temp[2] -> taddr

(where in[i] and temp[i] are notes)

[2016-09-10 12:55] daira commented on #1360
Note that #647 would resolve this tension (but that's a circuit change which is not in 1.0).

[2016-09-10 13:30] daira opened #1378 "error on startup: Assertion `nWitnessCacheSize >= nd->witnesses.size()' failed."
[code]

This is after my VM crashed and restarted; don't know whether that's relevant.

[2016-09-10 13:36] daira commented on #1378
After the above error, restarting zcashd now fails consistently at an earlier tx:
[code]

[2016-09-10 14:32] str4d commented on #1378
If the VM crashed part-way through the part of `IncrementNoteWitnesses()` that writes to disk, it is possible that some or all of the witnesses were persisted but `nWitnessCacheSize` was not. In that case, it is possible that one or more of the persisted witness lists is greater than the known cache size, breaking an expected invariant.

One possible fix is to just write out the cache size first;

[2016-09-10 14:34] daira opened #1379 "Release final software in advance of genesis block"
Currently the genesis block is compiled into the software. If this is still the case at launch, then it won't be possible to release the final signed binaries before launch. This might cause operational problems such as a rush to download the final binaries, reduced time to test them, etc.

If the mainnet genesis block information were in a separate file, then that could be released on October 28

[2016-09-10 17:17] ebfull commented on #1379
Does the mining slow start not obviate the need to release signed binaries well in advance of the launch?

[2016-09-10 18:02] bitcartel commented on #1378
Mobile so will keep this short: storing witness should be atomic,  and bdb should recover from transaction logs.

[2016-09-10 21:08] daira commented on #1360
Adding to the engineering meeting agenda so that we can discuss the information leakage and decide on prioritisation of a fix.

[2016-09-10 21:24] daira commented on #1360
Note that the solution in https://github.com/zcash/zcash/issues/1360#issuecomment-246109942 is an instance of this algorithm for sending any number of notes to any number of transparent addresses:
* start with a FIFO stack of all the input notes
* while the stack has more than two elements:
   * construct a JoinSplit by popping two elements from the stack as input notes, and pushing one output not

[2016-09-11 01:10] daira commented on #1378
I'm just going to put this link here :-p  https://github.com/zcash/zcash/pull/1233#discussion_r77056514

[2016-09-11 10:04] daira commented on #945
I'm +1 on this.

[2016-09-11 10:51] daira commented on #647
I'm even more enthusiastic about this idea given the issue with hiding intermediate ``vpub_out``s in #1360, since solving that issue requires that when we combine N input notes, we use at least min(1, N-1) JoinSplits. This makes it N JoinSplits, but each one is almost half the cost.

I'm itching to write a ZIP -- I see exactly how it would work. The circuit overhead of the commitments is two SHA25

[2016-09-11 11:37] daira commented on #1360
OK, I see how to generalise this to handle note outputs. I suggest that we create a "MultiJoinSplit" abstraction, with an overall vpub_old/new and arbitrary number of input and output notes, to encapsulate the complexity. (This abstraction could also be responsible for randomising the order of input and output notes in the constituent JoinSplits.)

The stack mentioned in my previous comment doesn'

[2016-09-11 14:11] daira commented on #1360
The above algorithm is somewhat original to note *selection* (but not quite because its efficiency in terms of number of JoinSplits depends on the input note selection, which also affects distinguishability if we end up with an unusually high number of JoinSplits).

The constraints on note selection are:
* We can only choose notes that are before the anchor. But if we pick the anchor first and the

[2016-09-11 14:40] daira commented on #1360
Oh, here's a better idea: Start with a uniform-random note selection, and run the MultiJoinSplit algorithm (just on the values, without doing any crypto) to get the JoinSplit count. Then find another selection of lower-valued notes that results in the same JoinSplit count (the idea being to maximise the chance that future transfers will require fewer JoinSplits, because larger-valued notes will be

[2016-09-11 14:53] daira commented on #1360
BTW I suggeest we exclude fee selection from the scope of this ticket, and track that in #1128.

[2016-09-11 14:58] bitcartel commented on #1360
Question: Consider a simple case of sending 100 to a zaddr.  If the sender has a single large note, the recipient receives a single note of 100, and the sender gets a note of 900 (less any fees) as change.  If the sender does not have a sufficiently large note to do this, but instead must spend multiple small notes, should the recipient receive multiple notes wich add upto 100?  This would be hard

[2016-09-11 14:58] daira commented on #1379
I don't think so, because testing the release in advance could reveal issues that might otherwise cause us to need to reset the blockchain, and we don't want to have to do that for PR reasons regardless of how much or little value is at stake.

[2016-09-11 15:31] daira opened #1380 "Remove fPowAllowMinDifficultyBlocks"
On the Bitcoin testnet, minimum-difficulty blocks are allowed after double the target block interval (according to local time). We removed this behaviour for Zcash in beta 1, as part of #1338. However, we didn't remove the `consensus.fPowAllowMinDifficultyBlocks` variable or the code that uses it in `miner.cpp`. This variable is still set to `true` for the testnet chainparams, which means that the

[2016-09-11 15:32] daira commented on #1380
Incidentally, I think it's extremely unlikely that we would want to add back the old behaviour (it was a bad idea).

[2016-09-11 17:52] ebfull commented on #1379
Why does testing the release in advance require signed binaries?

[2016-09-11 19:48] daira commented on #1360
Not only would it be harder for the recipient to keep track of, it would leak information to the recipient about what notes the sender had available. So I don't think we should do that.

There's a related bug in the MultiJoinSplit algorithm above: in order to produce output notes of the correct value, the second loop would need to use temporary change notes. I'll fix the algorithm in the next comm

[2016-09-11 20:06] ageis opened #1381 "Generate offline software signing key"
This is related to #1034, #540 and #1379.

When we are better positioned to provide binaries and .deb packages, we need a key to sign them with.

My recommendation is that Zcash's master software signing key be created and stored on an air-gapped computer. We should determine which developers are responsible for making signatures and holding a copy of the key. Possibly we could even apply Shamir's

[2016-09-11 20:17] Fible1 opened #1382 "Possible ./zcash-cli listunspent Bug"
When running the command `./zcash-cli listunspent ` consecutive times, you will not always get the same number of, or all of the addresses for which we have private keys. In my testing with 3 addresses, sometime two addresses were returned and sometimes all 3.

All three addresses had a balance, and I was able to do test sends from all three eventually, so this may freak users on main net if you c

[2016-09-11 20:56] daira commented on #1360
Fixed algorithm:

* start with a list of input notes IN sorted in descending order of value, and a list of output notes OUT sorted in ascending order of value
* while size(IN) > 0 or size(OUT) > 0:
   * construct a JoinSplit by taking the first two elements of IN as input notes, and the first element of OUT (if possible; see below) as one output note. The second output note consumes all of the ava

[2016-09-11 21:15] bitcartel commented on #1382
Thanks for the report.  May be related to #1345.

[2016-09-11 22:38] daira commented on #1360
I'm going to do some prototyping in Python to see if I can nail down all the corner cases.

[2016-09-12 00:41] daira commented on #1360
[code]

[2016-09-12 00:52] daira commented on #1360
In C++ you can use a [std::multiset](http://en.cppreference.com/w/cpp/container/multiset) where the Python code uses ``SortedList``.

[2016-09-12 08:26] faddat commented on #1040
Really glad to hear that you take this seriously.  Have a look at what's happened on STEEM's mining area since closed-source GPU mining implementations made it to town.....

@Voluntary-zcash it's difficult to go beyond the capacity of graphics cards without ruling out a really wide spectrum of users, given z.cash's laudable goal of running on devices from mobile phones to servers.  The best bet, I

[2016-09-12 09:43] daira commented on #1379
Because there are points of failure that could only be detected by testing exactly the same build that we sign.

Remember that testing is only half the issue; the other half is allowing users to install the software, and resolve any installation problems on their system, before the genesis block is available.

[2016-09-12 09:52] daira commented on #1382
``listunspent`` by default only returns UTXOs that have at least one confirmation (and are not locally spent). So before attributing this to Zcash-specific bugs, we would need to exclude the possibility that the third UTXO didn't just appear in the output once it had been confirmed, which is expected behaviour. @Fible1, could this have been the case, or can you do additional tests to rule it out?

[2016-09-12 09:54] daira commented on #1382
Note that ``listunspent 0`` can be used to list (additionally) UXTOs that have zero confirmations.

[2016-09-12 17:46] bitcartel commented on #1380
Agree we should disable for launch but perhaps use an assert rather than remove the code.  There is a possible use-case for a minimum difficulty block on mainnet: to prevent sudden-withdrawal infanticide where an attacker is not motivated by mining reward but instead wants to disrupt the network to render it unreliable and unusable for practical purposes.  Needs more discussion post-launch etc.

[2016-09-12 18:28] Fible1 commented on #1382
Hey,
  The third balance appeared, then disappeared, then re-appeared again; I
think that would suggest this is not the case. I'll take another look when
I get a chance and report back if I see this change or find another
explanation.

Pablo.

On Mon, Sep 12, 2016 at 5:53 AM, Daira Hopwood <notifications@github.com>
wrote:

--
PGP Key(s):

Pablo@Pablo-Lema.com: *http://pastebin.com/V8Z4WxUE
<http:

[2016-09-12 18:42] daira commented on #1380
I think we should remove the code; it's distracting and nothing prevents us from putting it back. Note that minimum-difficulty blocks violate the principle that consensus only depends on the history of blocks, so it would be a security flaw to allow them on mainnet (the only way to verify them would be to trust the block timestamps, which are obviously not trustworthy).

[2016-09-12 19:59] nathan-at-least commented on #630
I'm bumping this to Beta 2.

[2016-09-12 20:07] ageis commented on #630
The seeder has logged 54091 DNS requests + 2596 db queries, but it's still not returning any available nodes, if I'm understanding it correctly. So I don't think it's working. I just initiated a chat with @sipa to see if he might be able to figure out if we missed something.

[2016-09-12 20:08] nathan-at-least commented on #1138
I agree with Daira that `CLIENT_VERSION` _should_ be distinguished for users. The displayed version and the git tag should be identical, and there should be different releases that display the same version.

@str4d or others: how does upstream use `BUILD` in their versions?

@daira: Your proposal seems like a workable hack given the current constraints. Questions:

* How hard is it to rework those

[2016-09-12 20:17] nathan-at-least commented on #521
I'm moving a bunch of CI improvements out of "Audit Tasks" into `1.0.0-beta2`.

[2016-09-12 20:20] nathan-at-least commented on #1130
@str4d, @solardiz: the outcome of this ticket only affects performance, and nothing visible in the byte-wise protocol (disregarding timing), correct?

I've moved it to post 1.0.0 based on assuming that is true.

[2016-09-12 20:23] nathan-at-least commented on #969
@ebfull, @daira: does this affect "bytewise protocol" in any way, or only performance?

I assume it affects _only_ performance, and therefore I've moved it post 1.0.0 launch. Alert me soon if I've made a mistake.

[2016-09-12 20:26] nathan-at-least commented on #967
As you can see from milestone edits, I flip-flopped a bit here. I've moved this past 1.0.0 release because of Bitcoin's history of successful deployment.

@daira: if you find this unacceptable, would you accept a public mention in a "risk assessment" blog post of known security issues, as well as mentioning it in the `security-warnings.md`?

[2016-09-12 20:27] nathan-at-least commented on #965
Let's close this ticket by documenting security assumptions about the RPC client in our RPC documentation. I'll change the title.

[2016-09-12 20:28] solardiz commented on #1130
On Mon, Sep 12, 2016 at 01:20:38PM -0700, Nathan Wilcox wrote:

That's correct.

[2016-09-12 20:28] nathan-at-least commented on #893
Note that we may have notable consensus protocol security issues related to this, but we're launching as-is anyway! I've placed this in the 1.0.1 milestone.

[2016-09-12 20:30] nathan-at-least commented on #826
I've put this in Beta-2, although I'm wary of not having a clear criterion for closing this ticket. I think we will need a timeout where we simply document this brainstorm. :-(

[2016-09-12 20:33] nathan-at-least commented on #764
This is quite similar to #893. I'm moving it into 1.0.1, which means if any critical issues are revealed by it, we'll need an urgent network upgrade.

[2016-09-12 21:05] nathan-at-least commented on #1379
We've decided not to do this and to use our normal release procedure because we already know that process and it doesn't introduce new software changes or processes. This introduces risk and takes time to implement.

[2016-09-12 21:05] #1379 closed

[2016-09-12 21:10] nathan-at-least commented on #1365
We believe this will be rare or impossible for users on our target platforms at release, so we'll address it after release. (It _may_ be dangerous.)

[2016-09-12 23:54] bitcartel commented on #1356
Here are the non test related uses of ParseHex.  Given the number, I think adding a `ParseHexStrict` variant which we use here on out is a good idea.
[code]

[2016-09-13 02:28] bitcartel commented on #1378
Users are seeing this problem too: https://forum.z.cash/t/zcash-server-starting-and-failed/1674/6

[2016-09-13 03:19] daira commented on #1378
BTW I have a copy of the testnet3 directory if you want it.

[2016-09-13 03:40] daira commented on #1138
* We could make betas have a build of 0..9; rcs have a build of 10..19, and final versions have a release of 20. Or any similar scheme up to a build number of 98 (99 being reserved for non-release dev versions).
* Yes. But we could increase the number at which it breaks to, say, 40.
* See first answer.

[2016-09-13 03:42] daira commented on #1138
CLIENT_VERSION only allows numbers 0..99 for each component, so it can't represent got commit ids.

[2016-09-13 03:44] daira commented on #969
We already enabled MULTICORE. It does not affect consensus. However, we enabled it on the understanding that the OpenMP code would be audited before launch. (It's not that hard, I can probably do it if I have a solid day or two.)

[2016-09-13 03:48] daira commented on #967
I honestly think it is much better to just fix this, as Bitcoin is doing. (The upstream PR has three utACKs including from me, although it hasn't been merged yet.)

[2016-09-13 04:37] Voluntary-zcash commented on #1040
I think this problem will solve itself when more people get involved in mining.  I also think pool mining is a more important objective than a GPU miner.

[2016-09-13 04:53] str4d commented on #1378
Not sure why I didn't use the transactions feature of the database the first time :stuck_out_tongue_closed_eyes: I've implemented that in #1384. I have no idea how I could go about testing that it fixes this issue though, since engineering such a crash is well outside the unit testing framework we have, and I'm not even sure how (or if) we could reliably engineer one with the Bitcoin RPC testing f

[2016-09-13 05:07] str4d commented on #562
@ageis Could you please check the status of this? :smiley:

[2016-09-13 05:08] str4d commented on #562
(Assigning because I think this is an infrastructure issue. Please reassign if necessary.)

[2016-09-13 05:08] ageis commented on #562
![zcash_ssl_grade](https://cloud.githubusercontent.com/assets/1161532/18462244/678efd20-7935-11e6-8254-e150e0c24519.png)
Done as of a couple weeks ago ;)

[2016-09-13 05:08] #562 closed

[2016-09-13 05:25] str4d commented on #1138
@nathan-at-least

This already happens for the visible version numbers. It does not affect `CLIENT_VERSION` however; that is only affected by major, minor, revision and build.

Also note that the visible version for development versions includes the build, so if we appropriate build for incrementing `CLIENT_VERSION` between betas and RCs, then the visible version for non-clean checkouts of a relea

[2016-09-13 05:30] str4d commented on #1138
If we do choose to appropriate build, we could also just remove it from the visible version, or adjust the version string to be aware of the semantics, so a `CLIENT_VERSION` set to effectively `1.0.0.19` would render as `v1.0.0-rc10`. Then we could use the second half of the build range for actual build numbers, so e.g. `CLIENT_VERSION = 1.0.0.59` would appear as `v1.0.0.39` or `v1.0.0-b39`.

[2016-09-13 06:04] sipa commented on #967
@daira See #8580 for why.

[2016-09-13 12:37] daira commented on #829
The name "Chinese New Year" had been attached to this idea by @zooko and in some of Greg Slepak's posts. I dislike that choice of name for technical and other reasons. Technically, it is an overspecification at this stage to imply that we will use fixed rather than rolling epochs. I think rolling epochs have strictly better usability. But I'm also opposed to assuming or creating expectations at th

[2016-09-13 20:45] nathan-at-least opened #1385 "ZCA-001 - DoS attack if orphan joinsplit transactions were enabled."
We've marked this as invalid because _at this time_ (as of ``v1.0.0-beta1`` and planned for launch) any orphan transaction with a JoinSplit is omitted from ``mapOrphans``. I believe this means we take a performance penalty, for the benefit of avoiding this kind of DOS vulnerability.

[2016-09-13 20:45] #1385 closed

[2016-09-13 20:47] str4d commented on #1385
The decision to omit JoinSplit-containing transactions from `mapOrphans` was made in #523.

[2016-09-13 20:48] nathan-at-least opened #1386 "ZCA­002 - Inheriting FindAndDelete from Bitcoin is considered dangerous"

[2016-09-13 20:49] nathan-at-least opened #1387 "ZCA­004 - Decrease in huge­ reorg security margin"

[2016-09-13 20:51] nathan-at-least opened #1388 "ZCA­005 - Unlimited number of transaction proofs allows CPU­exhaustion attacks"

[2016-09-13 20:52] nathan-at-least opened #1389 "ZCA­006 - Erroneous nValueOut range check allows CPU­ exhaustion attacks"

[2016-09-13 20:53] nathan-at-least opened #1390 "ZCA­007 - Forever growing nullifier set will end up being stored in nonvolatile memory"

[2016-09-13 20:54] nathan-at-least opened #1391 "ZCA­008 - Forever growing commitment tree slows down commitment lookup"

[2016-09-13 21:12] nathan-at-least opened #1392 "Update `security-warnings.md` to point out reorgs past an anchor will rollback transactions."
Bitcoin's coinbase maturity helps ensure that any reorg shorter than the maturity interval will not invalidate any of the rolled-back transactions. (This doesn't prevent doublespends, either accidental or intentional.)

This means if there were, say a 1 day reorg, but the maturity interval is longer than 1 day, users can mostly assume that their transactions over the past day will still (eventuall

[2016-09-13 21:27] str4d commented on #1387
The longest Bitcoin reorg I know of was [this six-hour one in 2012](https://bitcoinmagazine.com/articles/bitcoin-network-shaken-by-blockchain-fork-1363144448).

[2016-09-13 21:28] nathan-at-least commented on #1386
We are going to attempt this fix in Beta 2, but we should timebox it, in case of exploding complexity / or perpetual "just one more snag" risk.

[2016-09-13 21:36] nathan-at-least commented on #1387
We had a discussion about this just now. There are some subtle user-facing impacts here:

**Reorg-Triggered Invalidation:** We already have a similar issue whenever re-orgs invalidate JoinSplit anchors, in which case the user experience is transaction reversal where funds are 'returned to original senders' at the reorg point. In the additional case that reorg > coinbase maturity, not only do some

[2016-09-13 21:39] nathan-at-least commented on #1387
I've put this in the rc1 release, even though I'm uncertain about it's priority. I'm at least certain that many items in Beta 2 are higher priority.

[2016-09-13 21:41] nathan-at-least commented on #1388
We consider this not to be an issue _somewhat by happenstance_ in our current design:

* blocksize limit provides an "incidental cap" on JS count.
* JS verification is necessarily fully parallel.
* We expect other CPU exhaustion vectors to pop up when raising the blocksize limit which may be worse (eg: non-segwit SIGHASH_ALL superlinearity).

However, it's important to keep this in mind, so I'm go

[2016-09-13 21:52] taoeffect commented on #829
As long as I'm not misunderstanding and "limit the commitment/nullifier set size" means the same thing as "guaranteeing public knowledge of a break in the economics of the total system", I'm both excited and intrigued to hear how it does not imply making transfers at least once per epoch.

Totally agree, I am by no means attached to that term and have similar reservations (and also because if a tx

[2016-09-13 21:58] nathan-at-least commented on #1390
This is the primary known protocol scaling issue in our design. Fixing it is an open research question. We believe this won't be a concern for at least 2 years.

[2016-09-13 21:59] ebfull commented on #1389
Duplicate of #1319.

[2016-09-13 21:59] #1389 closed

[2016-09-13 22:00] nathan-at-least commented on #1391
We consider this a minor issue for several reasons:

* wallets can have better / more efficient data structures, as the report proposes.
* there's no _need_ to track many notes for a given address. If necessary a wallet can merge notes.

[2016-09-13 22:01] nathan-at-least commented on #1391
I'm closing this as wontfix because we'll track wallet note tracking improvements with more specific tickets.

[2016-09-13 22:01] #1391 closed

[2016-09-13 22:12] nathan-at-least commented on #1378
Can we recreate this assertion failure repeatably with a newly introduced automated test?

[2016-09-13 22:13] nathan-at-least commented on #1378
If testing this is too difficult, are there any short term work-around instructions we can give to users to help them avoid destroying money?

[2016-09-13 22:17] nathan-at-least opened #1393 "Upgrade all dependencies (as necessary)."
Let's upgrade dependencies in a focused effort. If upgrading multiple dependencies doesn't immediately work, try to isolate the working upgrades into a PR and merge it early to make forward progress.

[2016-09-13 22:19] nathan-at-least commented on #867
Let's upgrade dependencies in a focused effort. If upgrading multiple dependencies doesn't immediately work, try to isolate the working upgrades into a PR and merge it early to make forward progress.

Related:

* PR #1252 - this does multiple things including upgrading `bdb` and `boost`, so use that previous effort.

[2016-09-13 22:22] nathan-at-least commented on #906
I don't understand the benefit of this, so I'm postponing it and elevating it to monday discussion. @daira Could you describe the benefit here?

[2016-09-13 22:33] nathan-at-least commented on #1359
I created #1388 which is about the consensus rule side of this. Let's add a sanity check to z_sendmany for this ticket.

[2016-09-13 22:42] ageis commented on #1393
When dependency updates are merged, please notify me and ideally send me a link so I can make sure it's added to the `depends-sources` mirror.

[2016-09-13 22:43] nathan-at-least commented on #1163
We're favoring gitian instead of this, so it's off the roadmap.

[2016-09-13 22:56] nathan-at-least commented on #1128
The current fee selection is incredibly simplistic and just uses a constant and users cannot change that except by recompiling. Unfortunately, we need to focus on security for the 1.0 release, and we can fix this after that.

[2016-09-13 23:25] nathan-at-least commented on #1350
Instead of doing this for 1.0 launch, we're going to do a simpler thing to support a process we can describe in a 'migration howto':

We're going to implement a simple cache invalidation fix for `-rescan` mode.

[2016-09-13 23:26] nathan-at-least commented on #1350
Postponed to after launch.

[2016-09-13 23:26] str4d opened #1394 "Drop the note witness cache when reindexing"
If the node is launched with `-reindex` then the wallet will get called with every single transaction we possess since genesis. We should not copy across the witness caches for those transactions in `CWallet::AddToWallet()` when this occurs, to ensure there is no cache corruption.

[2016-09-13 23:28] nathan-at-least commented on #1350
This ticket was postponed in favor of #1394 and #1395.

[2016-09-13 23:29] str4d opened #1395 "Document how to enable funds for imported keys"
For 1.0, instead of fixing #1350, we are going to document that after importing a zaddr, a user can just start their node once with `-reindex` in order to enable spending of any funds linked to that address.

Requires #1394.

[2016-09-13 23:35] nathan-at-least commented on #1395
Example text: https://github.com/zcash/zcash/issues/1350#issuecomment-246858060

[2016-09-13 23:36] nathan-at-least commented on #1354
Let's wait until after launch to get feedback from user requests.

[2016-09-14 00:01] nathan-at-least commented on #1333
We need clarification about what @BitHighlander proposes a request should return.

There is already the `listsinceblock` call (see [Bitcoin API_calls_list wiki page](https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list)) which returns the public data associated with all transactions involving any t-addr or z-addr known to the wallet.

These results don't show private data, including:

[2016-09-14 00:06] nathan-at-least commented on #778
BTW- I consider this a low priority (in comparison to other beta2 goals). The *one case* I have thought of that makes me hesitate to kick it to post-1.0 is if the non-random order leak compromises a user's activity in the early days before we release a randomized version.

Let's work on this PR later in the Beta 2 process.

[2016-09-14 00:07] nathan-at-least commented on #1333
Note: We're focused mainly on high priority security fixes up to launch, not on feature improvements or user requests. However, having good support for exchanges is obviously a priority, so if we determine there's a specific request thats low-complexity to implement and likely to be widely useful, we may try to get it into this beta2.

[2016-09-14 09:14] #1371 closed

[2016-09-14 10:40] daira commented on #1386
Can you explain the issue in more detail?

[2016-09-14 11:00] daira commented on #842
@str4d and I looked at this in our pairing on Monday. (I had a long comment written about it but then had a power cut, so let's see what I can remember.)

The compactSize field just before the solution indeed *could* have been a problem, but we narrowly dodged a vulnerability. The issue is that in the case of a length that normally occupies 2 bytes, the 3- and 4-byte encodings are still available.

[2016-09-14 11:13] daira commented on #842
This turns out to be [already tested](https://github.com/zcash/zcash/blob/master/src/test/serialize_tests.cpp#L264).

[2016-09-14 21:15] artlav opened #1397 "Nodes hanging (block count is not getting updated)"
I would occasionally find that one or the other machine in the mining cluster shows an old block count (i.e. in getinfo).
Trying to stop or sigterm it makes it just sit there, sometimes consuming 100% of one CPU core, sometimes doing nothing at all.
Nothing short of kill -9 helps. Looks almost as if it went into some sort of infinite loop/deadlock inside.
Once restarted, it keeps working as if not

[2016-09-14 21:43] daira commented on #1395
The text should reference the ticket URL for the known bug (#1350).

[2016-09-14 22:20] daira commented on #1390
I honestly don't see how this is even a problem, in principle. Each nullifier is 32 bytes. Suppose that we have 2 MB blocks full of JoinSplits for 10 years. A JoinSplit is 1802 bytes, so that is at most 1163 JoinSplits per 2.5 minutes. That makes at most 1163 × (60/2.5) × 24 × 365.25 × 10 × 2 × 32 bytes, which is about 156.6 GB, as the maximum size of the nullifier set after 10 years. Of course, t

[2016-09-14 23:10] bitcartel commented on #1378
@daira Do you remember what commands you ran before you saw the problem?  @str4d Perhaps we can try to replicate?

[2016-09-15 01:59] str4d opened #1400 "Keep note witnesses in-sync with wallet's "best block""
For performance reasons, block information is only written to disk occasionally (by default, every hour unless a must-write change happens). As part of this, `CWallet::SetBestChain()` is used to record the best-known chain at the time of writing. When a restart occurs, the blockchain is loaded (setting up the current chain tip), and then:

- The parent fork of the wallet's best chain and the curre

[2016-09-15 08:58] cryptix opened #1401 "beta1 build error: file not recognized: File truncated"
Hi,

I tried to build the beta1 on archlinux but it somehow fails and generates a bunch of empty files. It complains about these two:

[code]

but there are more:
[code]

I created [build_logs.zip](https://github.com/zcash/zcash/files/474195/build_logs.zip) with logs from a complete clean build run and one re-run after it failed. I don't see any `command not found` or other erros that might indica

[2016-09-15 10:52] str4d commented on #1378
My guess is that this is related to #1400, but I haven't done any testing yet to confirm.

[2016-09-15 11:15] str4d commented on #521
In our fork of libsnark, we have the following tests:

[code]

All of these tests are individual executables, so we'd need to call them specifically. The dependency-handling script has been removed from our fork of libsnark, so we'd need to either reinstate it, or conditionally enable building the tests inside the zcash depends system.

[2016-09-15 11:31] daira commented on #1401
Was this from a fresh git checkout?

[2016-09-15 11:35] daira commented on #1334
The typo is [here](https://github.com/zcash/zcash/blob/master/zcutil/fetch-params.sh#L52). Can you submit a PR please?

[2016-09-15 11:37] str4d commented on #3
The references above are all false positives caused by pasted log output :smile:

All code written by us inside this repository falls under the existing MIT license, so that should not be an issue.

Since forking from Bitcoin, we have introduced dependencies on the following libraries (obtained via `git diff 21e58b8e..HEAD depends/packages`):

- `googlemock`
  - We use: https://github.com/google/g

[2016-09-15 11:39] daira commented on #1334
This help output is also wrong:

They are currently "just under 911MB in size" (wording from the Beta Guide).

[2016-09-15 11:57] cryptix commented on #1401
Yes - I did the complete run from a new clone, checking out beta1.

[2016-09-15 11:59] daira commented on #1397
Please attach your ~.zcash/debug.log file. Also if you can reproduce with ``zcashd -debug=1`` and post that debug.log, that would be even more helpful.

[2016-09-15 12:03] alfiedotwtf commented on #1334
No problem. See pull #1403 :)

[2016-09-15 12:11] daira commented on #1378
The node was just mining in the background (on three threads) when the VM crashed; any prior commands had long completed. (That VM is unstable in general, so I have no particular reason to believe the VM crash was related to running zcashd.)

[2016-09-15 12:13] daira commented on #1378
I suspect that it can be reproduced by triggering an exit part-way through the code that is now in a transaction.

[2016-09-15 12:27] daira commented on #3
LGPL via the depends system should be okay. To make absolutely sure we can add a brief note in our licence saying that libgmp is LGPL. The other non-MIT licences are definitely compatible with MIT.

[2016-09-15 13:17] artlav commented on #1397
Here are the logs.
On 1 it was found hung and stopped on 14th, 10:25
On 2 it was on 13th, at 12:24 and 21:55, i think i waited for a while before killing it the first time.
On 3 it was on 13th, at 19:25

I've started several nodes with zcashd -daemon -debug=1, will post if one happens to hang.

[cnode_1.log.gz](https://github.com/zcash/zcash/files/474674/cnode_1.log.gz)
[cnode_2.log.gz](https://gi

[2016-09-15 22:05] daira commented on #1397
Here's the relevant part of the first log:
[code]

Similarly in the second log:
[code]

So it looks like a network-related problem.

[2016-09-15 22:10] str4d opened #1405 "Ensure that the consensus rules for the Founders' Reward are consistent"
https://github.com/zcash/zcash/pull/1398#r78873403 indicates that there may be a bug in the Founders' Reward consensus rules. We need to ensure that they are consistent with [what we have told users](https://z.cash/blog/funding.html).

[2016-09-15 23:34] artlav commented on #1397
I'm fairly confident there were no network interruptions that long, they would have been noticed. Also, only one node is affected at a time.

It couldn't have been an internal network interruption for one node in particular, since the controller could reach them all the time.

Finally, after seeing the logs i already tried pulling the wires at random intervals and durations, which failed to reprod

[2016-09-16 02:54] daira commented on #3
To comply with the LGPLv3 for libgmp we need to:

a) Give prominent notice with each copy of the Combined Work that the Library is used in it and that the Library and its use are covered by this License.
b) Accompany the Combined Work with a copy of the GNU GPL and this license document.
c) For a Combined Work that displays copyright notices during execution, include the copyright notice for the L

[2016-09-16 02:57] daira commented on #3
It's actually quite confusing that you should have to include a copy of the GPL when nothing used by Zcash is covered by that licence, but that's what the terms of the LGPL say.

[2016-09-16 06:40] ebfull commented on #3
FYI I thought that libsecp256k1 was bundled with (optionally?) libgmp. Perhaps we can learn from their example.

[2016-09-16 10:21] daira commented on #3
libsecp256k1 [does use libgmp](https://github.com/bitcoin-core/secp256k1/blob/master/src/num_gmp_impl.h), but I see no reference to that in its licencing documentation.

[2016-09-16 10:29] daira commented on #3
http://programmers.stackexchange.com/a/302435/34924

[2016-09-16 12:32] cryptix commented on #1401
I tried again and `v0.11.2.z9` still builds fine.

Still no luck with b1. Any ideas or infos I could gather?

[2016-09-16 14:49] SergioDemianLerner commented on #1390
I agree the issue has low priority.  But if the nullifyiers set becomes higher than the available RAM (e.g. 4 GB), verifying transactions will require at least two random disk accesses (or about 30 msec on a non-SDD drive ?). Then transaction execution time will not depend solely on CPU speed.

[2016-09-16 14:54] SergioDemianLerner commented on #1388
This issue may become relevant if orphan transaction having JS proofs is enabled (currently it is not). In that case, the verification of JS proofs can be re-triggered over and over by the reception of new parent transactions (when not all parents (providing the orphan tx inputs) are present).

[2016-09-16 15:12] SergioDemianLerner commented on #1386
FindAndDelete exposes a number of implementation details in the scripting system that should not be visible and should not affect consensus.
Peter Todd wrote an excellent review of the consequences of FindAndDelete() here https://decred.org/research/todd2014.pdf
And there are more reasons.
There is no adverse effect of just removing FindAndDelete() call in zCash.

[2016-09-16 17:59] daira commented on #842
Documented in the 2016.0-beta-1.3 spec. @str4d and I looked for other potential Equihash malleability attacks and found none (also, there is very little scope for there to be other attacks), so I think we can close this.

[2016-09-16 17:59] #842 closed

[2016-09-16 18:10] sampablokuper commented on #1381
Also related to #609 AFAICT.

[2016-09-16 18:33] sampablokuper commented on #609
Signing release tarballs and git tags is crucial if Zcash is to be trustworthy.

Ideally, Git commits should be signed too. See: https://mikegerwitz.com/papers/git-horror-story

Please can this issue therefore be renamed from "Cryptographically sign releases" to "Cryptographically sign commits, tags, and releases"?

As for how to go about signing commits, try these guides:

- https://git-scm.com/b

[2016-09-16 20:20] ageis commented on #609
AFAIK, a few of the developers commented that they were not a fan of GPG-signing commits because it makes squashing or merging more complicated (or something to that effect).

[2016-09-16 20:22] SergioDemianLerner commented on #1386
If not, you could merge this improvement in 0.13: https://github.com/bitcoin/bitcoin/pull/7907

[2016-09-16 20:27] sampablokuper commented on #609
Yes, accountability takes effort :)

Something in which people are expected to place as much trust as Zcash is something that should be built *very* accountably, IMO.

If accountability can be made less effortful, great; but in the meantime, the gain in accountability would still be well worth the extra effort of signing commits over simply signing tags and releases. The Git Horror Story linked ab

[2016-09-16 20:29] daira commented on #1405
I'm currently writing the spec for this. (The Founders' Reward was previously not specified; that was a TODO.)

[2016-09-16 20:45] nathan-at-least commented on #1386
We're fairly confident following the audit recommendations is possible for this milestone, so let's do it.

[2016-09-16 20:49] nathan-at-least opened #1408 "Recommendation 6.9 - alter signature hash to cover hashes of ins/outs instead of their pre-images."
We haven't determined if we will do this for Beta 2 yet, but it deserves evaluation.

[2016-09-16 20:58] nathan-at-least commented on #1392
This may be important enough to highlight beyond just ``security-warnings.md``.

[2016-09-16 21:01] daira commented on #1392
Note that the existing transaction rebroadcast mechanism inherited from Bitcoin will not successfully rebroadcast transactions containing JoinSplits if the anchor needs to change. Only the JoinSplit creator can do that.

[2016-09-16 21:02] nathan-at-least opened #1409 "Warn users when using a low minconf, because reorgs are more dangerous than Bitcoin."
We might care more about anchors than minconf...

[2016-09-16 21:10] nathan-at-least opened #1410 "Add to ``security-warning.md`` that Zcash is more vulnerable to network attacks related to verification-to-block-target-times."

[2016-09-17 01:00] bitcartel commented on #1251
5843 (we already have), 6192 and 6193 (related to REST interface which we do not recommend to be enabled) and:
7106 - PR #1411
7109 - PR #1407

[2016-09-17 04:29] swt83 opened #1412 "Test Failed"
[code]

[2016-09-17 07:12] questulent opened #1413 "Test Fail: [ FAILED ] wallet_zkeys_tests.write_zkey_direct_to_db"
Upgraded according to new Beta guidelines. Ran test - failed. Details here

---

===== BEGIN: /home/andrew/zcash/qa/zcash/check-security-hardening.sh
make: Entering directory '/home/andrew/zcash/src'
Checking binary security of [zcashd zcash-cli bitcoin-tx test/test_bitcoin zcash-gtest   zcash/GenerateParams]...
make: Leaving directory '/home/andrew/zcash/src'
PASS: /home/andrew/zcash/src/zcashd h

[2016-09-17 22:20] ampyx opened #1414 "Transparent private keys fail to import into zcash (encoding error)"
According to the specs (section 5.6.2 and 5.6.1) it should be theoretically possible to import a private key from the bitcoin wallet to the zcash wallet, since the spec states that the private and public keys of Zcash have exactly the same encoding as Bitcoin. This spec would also mean that users should be able to use existing 3rd party utilities to generate transparent wallets for Zcash. However

[2016-09-18 01:07] bitcartel commented on #1414
Hmm.  It looks like your Bitcoin node is running on Mainnet, whereas Zcash is running on Testnet.  Try putting Bitcoin into Testnet mode and repeating the above.  Also note that transparent addresses on Zcash mainnet will have a different prefix from that used by Bitcoin mainnet.

[2016-09-18 07:15] ampyx commented on #1414
@bitcartel Thanks. It seems to work when both daemons are running in the same mode. Could you tell me which prefix is enforced on zcash transparent addresses?

[code]

[2016-09-18 11:45] daira commented on #1414
I don't think we've decided on that prefix yet. That's why the spec hasn't been updated.

[2016-09-18 11:47] daira opened #1416 "Document that: Nodes behind the same public IP may not be able to connect independently"
https://forum.z.cash/t/internal-ips-connection-problem/1801

[2016-09-18 11:49] daira commented on #1416
It's an upstream issue: https://bitcointalk.org/index.php?topic=877949.0

[2016-09-18 11:58] daira commented on #1416
I think we want to document this limitation and maybe mention port forwarding as a solution, but we don't have time to change any code to address it before launch.

[2016-09-18 12:17] daira commented on #1401
What does ``lsb_release -a`` output?

[2016-09-18 13:04] cryptix commented on #1401
[code]

Since that is a bit thin, I collected some more versions:

[code]

[2016-09-18 13:39] cryptix commented on #1401
Here are the build logs from the zipfile as a gist: https://gist.github.com/cryptix/9b60647c88d25f352074e31ae7e9df24

[2016-09-18 13:44] daira commented on #1128
See also #398. Note that a constant fee for private transactions might be desirable for indistinguishability reasons.

[2016-09-18 13:55] cryptix commented on #1401
Oh well.. This is really embarrassing. `./src/zcashd` and `./src/zcash-cli` are built actually and seem to work fine.

It's just that I haven't looked for them because of the way the build process ends in error.

I'd still like to run the tests (at some point).

[2016-09-18 14:03] artlav opened #1417 "Exceptions on Z transaction processing"
Recently i started getting errors on attempts to send coins from mined address to a Z address.
The daemon would print out an St12system_error exception, but appears to keep working.

The system have plenty of spare RAM, and was able to handle these transactions for days.

Here is the log excerpt after ordering several of the transactions.
It crashed three times, and kept running.

z_getoperationst

[2016-09-18 14:31] daira commented on #1034
Note that some of our dependencies, for example libgmp, may be aggressive in choosing compilation options for the platform they are compiled on, as pointed out here: https://github.com/zcash/zcash/issues/1378

We should make sure to build binaries only with options that are likely to work for the vast majority of x86 processors in current use. We might also have to build different binaries for dif

[2016-09-18 14:39] daira commented on #1034
Also note that we can compile/publish binaries for a release without delaying that release milestone. I'd like us to do this for the beta 2 release.

[2016-09-19 08:42] ampyx commented on #1414
Not to be pushing or anything, but do you have a date for this? 👍

[2016-09-19 09:20] daira commented on #1414
Probably beta 2.

[2016-09-19 09:23] daira commented on #1414
See #812.

[2016-09-19 09:27] daira commented on #1414
And no problem with pushing :-)

[2016-09-19 09:53] daira commented on #812
We need to decide on this ASAP in order for it to be included in beta 2.

[2016-09-19 20:10] jackgavigan commented on #812
Idea: Make the prefix two digits (e.g. z0) so that we can have a different prefix (e.g. z1) in future. NRR (No response required).

[2016-09-19 20:50] nathan-at-least opened #1419 "Run throughs of "release parameters update"."
There are at least three production release parameters we must update for our launch:

* zkSNARK params
* Founder's Reward address table
* genesis block - timestamp, well-known-news evidence, starting difficulty selection, genesis block generation, and test vector updates.

Let's do practice run-throughs of this release process with test data.

[2016-09-19 20:54] nathan-at-least commented on #1419
Do we need to change the genesis block subsidy to be 0, thus being consistent with mining slow start? There might be problems with that, so we could test it. It would be nice for avoiding future confusion. (This subsidy cannot be spent anyway, so it doesn't have an effect other than cognitive load / confusion.)

[2016-09-19 21:11] nathan-at-least commented on #812
Let's do a 1-engineer-day timebox to experiment with this scheme: all bitcoin addresses are prefixed with *and additional* 'T' in their encoding. This is in addition to their bitcoin-classification prefixes (eg: ``1-`` for pubkey hash, ``3-`` for script hash, etc...

We believe codifying that change is somewhat simple, *except* it will break many test vectors. If we can fix all of those test vecto

[2016-09-19 21:21] nathan-at-least commented on #1344
Two potential drawbacks:

* If addresses with new extensions appear, they will have different lengths, and this will have some side-effects throughout the protocol. Eg: if they appear in encrypted notes, then note encryptions will need to be extended to support the extension (thus introducing a backwards incompatible transaction difference). However, it might be useful to have flexibility in part

[2016-09-19 21:52] nathan-at-least commented on #209
This won't affect our official release builds, because we'll ensure those don't run into this sharp edge. However, this may still impact users who are using ``./depends`` on some systems. We're going to address this after launch.

[2016-09-19 21:54] nathan-at-least opened #1420 "Augment ``build.sh`` to scan built binaries to verify correct linkage info."
Note, this is the detection counterpart to the #209 prevention technique.

[2016-09-19 21:56] nathan-at-least commented on #521
Note, our fork of libsnark may have broken these tests! Let's figure out which tests are important for our fork and remove tests that do not apply to our fork.

[2016-09-19 21:57] nathan-at-least commented on #521
I'm unassigning @imichaelmiers because he's not familiar with our fork and may not be available on the timeline for Beta 2.

[2016-09-19 22:04] nathan-at-least commented on #918
This is tracked elsewhere.

[2016-09-19 22:04] #918 closed

[2016-09-19 22:14] str4d commented on #1358
Assigned to @bitcartel because IIRC he is already working on fixing issues here?

[2016-09-19 22:17] nathan-at-least commented on #1333
We've decided to postpone this until after launch, since our focus for the Beta 2 and release candidate(s) is crucial bug fixes and security issues.

[2016-09-19 22:20] str4d commented on #609
@ageis is working on this AIUI, and I need to know about the process for the next release.

[2016-09-19 22:27] str4d commented on #1216
@ageis should be the one to implement this since it is infrastructure, but another engineer should pair with him on it for handling compile-side issues.

[2016-09-19 22:41] ebfull commented on #1344
I know that we will want to combine `pk_enc` and `a_pk` somehow in the future, can whatever solution we come up with leave room for a combination like that in the future if possible?

[2016-09-19 22:45] str4d commented on #1344
For that, we'd probably want to add an additional version or flag byte, and have it encoded before the current content (which makes it a slightly less trivial change than @daira's proposal). I'd be inclined to have this inside the ZCPaymentAddress class rather than the base58 encoding, so that we retain the `zc` prefix whether or not extensions are used.

[2016-09-19 23:12] nathan-at-least commented on #1186
We need the actual URL. For now, let's fall back to just https://z.cash, because we should have a banner mechanism displayed on the front page (and all pages!) for high-priority announcements like security.

*Soon* we'll also have a security announcement page.

[2016-09-19 23:47] str4d commented on #1241
The upstream ticket [has now been closed](https://svn.boost.org/trac/boost/ticket/11097#comment:12). So if Boost 1.62 lands before our release, we can upgrade to it, but otherwise we should look at what they merged, and see if we can apply it with our patch system.

[2016-09-20 00:24] str4d commented on #1077
Here's a blog post describing the quadratic issue (which we are looking at resolving in #1408 anyway):

http://rusty.ozlabs.org/?p=522

It links to a simple simulation for 1 MB blocks that we might be able to leverage:

https://gist.github.com/rustyrussell/9c3c4bf3127419bd3f1d

[2016-09-20 02:30] str4d commented on #1408
@daira and I paired on this and implemented an alternative proposal that splits up the common and per-input data for serialization. We think this will make future caching much simpler, as then we will only need to cache a single 256-bit hash for the transaction, rather than one hash per input('s output) and output.

[2016-09-20 02:57] tromp opened #1422 "Update documentation to refer to a "solution rate" for mining"
It seems the very name of the proof of work, "Equihash" inspires confusion,
as it is not a hash function. The often used notion of hashrate could mean
various things, like runs of the equihash algorithm, underlying blake2 hashes,
or final difficulty filtering hashes applied to solutions.
To me, only the last measure is relevant for miner performance, since alternative
solver implementations may ha

[2016-09-20 03:25] str4d commented on #1422
Putting this into -rc1 but not adding to the engineering agenda, so we will remember to discuss this after beta 2.

[2016-09-20 03:28] str4d commented on #1422
I think this is a relatively easy change. The only RPC it affects is `getnetworkhashps` (which we could just alias to e.g. `getnetworksolutionps`); otherwise it's just documentation changes (and a UI change in #1375). But I'm not going to think any more about it right now.

[2016-09-20 04:31] str4d commented on #944
Boost 1.62.0 is scheduled for release [September 28](http://www.boost.org/development/index.html), so we will be able to use it. I will leverage the latest 1.62.0 beta release in my PR for #867 so we can test against it, and then I will upgrade to 1.62.0 next week after it is released, before merging the PR for our beta 2.

[2016-09-20 04:45] sampablokuper commented on #1381
This is in essence a good proposal. A few notes:

- Air-gapping is not a total panacea. See [Stuxnet](https://en.wikipedia.org/wiki/Stuxnet), for example. Other side channels should also, ideally, be accounted for, such as [acoustic](https://en.wikipedia.org/wiki/Acoustic_cryptanalysis), [optical, and electrical](http://dev.inversepath.com/download/tempest/).

- It *is* a good idea to use an air-g

[2016-09-20 06:09] str4d commented on #1255
AIUI, upgrading this will require testnet users to delete and recreate their wallets? We should instruct users in the beta 2 release notes to export their keys individually before upgrading, and then import them afterwards (followed by a reindex or rescan, pending resolution of #1394 and #1400).

[2016-09-20 12:25] str4d opened #1424 "Ensure that GetBlockTemplate functions as intended"
We have made various changes to the block header and the proof-of-work, but we haven't checked that `GetBlockTemplate` still functions correctly (as mentioned in #826). A few people in the community Slack have started trying to use it and are encountering the responses `inconclusive` followed by `duplicate-inconclusive` when submitting blocks. We should find and fix any issues with GBT, and specif

[2016-09-20 12:28] ampyx commented on #1424
I would like to suggest a feature for the getblocktemplate spec. It would be nice if gbt would specify the founders reward and the miners reward separately in the JSON response.

[2016-09-20 12:30] barisicm opened #1425 "Cannot build under a directory path containing a space"
I am running linux ubuntu 16.04.
And i am trying to set up my z-cash for mining. However i got stuck at compiling.
Specifically, at this command :
./zcutil/build.sh -j$(nproc)

(FYI nproc works)

I get a lot of warnings such as :
funcs.mk:238: warning: overriding recipe for target '/home/marin/Radna'
funcs.mk:238: warning: ignoring old recipe for target '/home/marin/Radna'

And so on for atleast 9

[2016-09-20 12:34] artlav commented on #1424
Clarifications.
Here is an example of two blocks - http://pastebin.com/e8LUw2hY
First was generated based on the data in getblocktemplate.
The second one is the unrelated one later found in the blockchain at the same height.

The first one failed on submitblock with "inconclusive" answer.
Trying to submit it later (when it's no longer on the tip) gives "duplicate-inconclusive".
Incidentally, tryin

[2016-09-20 12:51] artlav commented on #1424
Further development.
Please contemplate the coinbase script in the bad block: "0502e3180101".
If i change it to "0502e3180102", then the "inconclusive" vanishes.
Several other values that are not 01 also work.

That extranonce field DOES mean something.
Or it's not extranonce, but something else.

[2016-09-20 14:12] artlav commented on #1422
I can add to that an empirical observation that equihash as implemented in the daemon produces on average 2.8 solutions per run, do the 2/time formula is a little bit off.

[2016-09-20 14:22] str4d commented on #1348
I'm working on this as part of #867, and looking to jump to 1.1.0 if possible. One minor blocker on determining how hard this will be is that OpenSSL 1.1.0 gets mistaken for LibreSSL, which causes the default compile to fail (backhistory: before BIP66, using LibreSSL instead of OpenSSL was technically consensus-breaking). Since BIP66 has been accepted, bitcoin/bitcoin#6732 removed that check.

Our

[2016-09-20 14:27] str4d commented on #1348
Side-note: I've tried this evening / early morning to migrate to both 1.0.1t and 1.0.2h in addition to 1.1.0; all three had issues, so I figure I may as well work on the one that is supported.

Also, I am aware of the upcoming security releases for all three branches, and will use then when available.

[2016-09-20 16:10] artlav commented on #1424
3 more blocks got mined, one succeeded, others are inconclusive.

The good block does not become inconclusive whatever changes i make.
The bad blocks cease to be inconclusive once i change that coinbase byte.

[2016-09-20 16:48] tromp opened #1426 "IndicesBefore conflicts spec?"
The two IndicesBefore methods in equihash.h compare the *XORed* hash array,
while page 30 of the spec specifies ordering by the *concatenation* of all hashes.

If this is a real conflict rather than my misunderstanding,
I suggest changing the spec to conform to the code.

[2016-09-20 20:23] artlav commented on #1424
Ok, with some more instrumentation and logging added, it might be that the problem is merely one of error reporting.

Specifically, the "inconclusive" error happens when the block with the same height was already mined while the one being submitted was mining - by the time the block is done, the blockchain already advanced, and the daemon doesn't explicitly recognize what is wrong, only that somet

[2016-09-20 20:43] nathan-at-least commented on #306
We now host all dependencies on our own website, so this can be closed.

[2016-09-20 20:43] #306 closed

[2016-09-20 20:44] nathan-at-least commented on #588
We've evolved away from `libzerocash` substantially. I expect people searching for 'zerocash' or anything similar will find us, so I'm closing this as not-relevant.

[2016-09-20 20:44] #588 closed

[2016-09-20 20:46] nathan-at-least commented on #693
We believe Zcash is prominent enough that anyone browsing zerocash-project.org can find us easily enough.

[2016-09-20 20:46] #693 closed

[2016-09-20 20:48] nathan-at-least commented on #838
We're not certain this issue applies to our recent software, so we're deprioritizing it. @JanKalin can you reproduce this issue on our recent Beta 1 (or newer) release?

[2016-09-20 20:49] nathan-at-least commented on #838
@daira: We deprioritized this from Beta 2 since we suspect it may no longer apply. If it does, it's a lower priority because our 'official distribution' will be binaries we build. After launch we'll work on supporting a broader ecosystem of user dev setups.

[2016-09-20 20:51] nathan-at-least commented on #933
We're deprecating the alpha-phase ``zcraw*`` RPC operations, so we won't fix bugs in them.

[2016-09-20 20:51] #933 closed

[2016-09-20 20:54] nathan-at-least commented on #952
Let's say "6 confirmations, like Bitcoin, except that's less wall-clock time (typically)". This means we're more vulnerable to security issues that depend on wall-clock time (such as real-world opportunity cost to mining attackers).

Now that we've chosen 6, we can do threat modeling work after the fact using that as a baseline, which can happen in a different ticket.

[2016-09-20 20:54] #952 closed

[2016-09-20 21:01] nathan-at-least commented on #959
Hey @ageis, I've assigned this to you. Document anything you need from a release engineer to get the testnet deployed (which might just be a ping saying the git tag is in place).

[2016-09-20 21:03] nathan-at-least commented on #967
Removing "needs prioritization" because this is in our 1.0.1 milestone.

[2016-09-20 21:07] nathan-at-least commented on #953
We're going to launch with mining maturity threshold unchanged. However, I believe it doesn't have nearly the amount of benefit it does in Zcash.

[2016-09-20 21:09] nathan-at-least commented on #1069
We won't be adding features before 1.0.0 launch. I'll see if we can implement it in the subsequent release.

[2016-09-20 21:10] nathan-at-least commented on #1081
Small feature changes, especially those requested by users, are going into 1.0.1 by default. Also, when we update version number schema, will it address the need of this ticket?

[2016-09-20 21:13] nathan-at-least commented on #1117
Let's not remove tests until we know we want to remove the code under test, so this is wontfix.

[2016-09-20 21:13] #1117 closed

[2016-09-20 21:15] nathan-at-least commented on #1386
Note: we may have some unittests that relied on the "hash == 1" exceptional case and/or ``FindAndDelete``, so make sure they're updated appropriately, as per #1118.

[2016-09-20 21:18] nathan-at-least commented on #1191
Because we're launching with the current Beta 1 zkSNARK parameters, let's postpone performance measurement improvements to after launch. (Note: there's some risk of missing performance, DOS, or pow parameter issues here, but we're taking on that risk and will adapt after launch.)

[2016-09-20 21:19] bitcartel commented on #1192
Example of broken link: https://speed.z.cash/timeline/?ben=time%20solveequihash&env=1#/?exe=1&base=1+9&ben=memory solveequihash&env=1&revs=50&equid=off&quarts=on&extr=on

[2016-09-20 21:24] nathan-at-least commented on #1312
ping @ebfull: when doing this, can you address #1196 also (which just requires passing extra args to `wget`). Then the PR can close both tickets.

[2016-09-20 21:25] nathan-at-least commented on #1196
I assigned @ebfull because this is a "freebie" while working on #1312.

[2016-09-20 21:27] nathan-at-least commented on #1207
This is a "nice to have", in some sense, although from a cryptographic engineering standpoint it's odius technical debt.

[2016-09-20 21:30] nathan-at-least commented on #1238
@daira, @ebfull: I don't have enough domain knowledge to know how to prioritize this. It sounds like from @daira (in https://github.com/zcash/zcash/issues/1238#issuecomment-239411929) that this has a low-risk of a security impact.

Is this an improvement to be made in `libgmp` or `libsnark` or both? If the former, the best we could do is file an upstream ticket or patch, but I suspect that'd be ti

[2016-09-20 21:30] nathan-at-least commented on #1238
I put this on the agenda, just in case engineers don't see this in their firehose of github notifications.

[2016-09-20 21:31] nathan-at-least commented on #1239
We're going to de-prioritize this for the time being. If, after launch, we don't see a healthy ecosystem of open source mining, then we can reprioritize improvements like this one.

[2016-09-20 21:34] nathan-at-least commented on #1240
Is this a. either very easy, or b. notable risk of compromise (on any architecture)? If so, let's put it in the 1.0 target, otherwise, after 1.0.

paging @daira and @ebfull for their libsnark & security expertise here.

[2016-09-20 21:37] nathan-at-least commented on #944
Note: let's ensure that 1.62.0 fixes #1241 (which requires having the right security analysis tool in place).

[2016-09-20 21:39] nathan-at-least commented on #1241
It looks like we could address this when we get to #944, so I've assigned to @str4d and put in our beta 2 milestone.

[2016-09-20 21:47] nathan-at-least commented on #1335
I assigned @ebfull and placed this into Beta 2, since it is an bonus goal for existing work.

Does this complicate our "release parameter update" story at all? Instead of a patch updating the hash of an expected file, we'll have a patch against a header file. We will see what that looks like as part of #1419.

[2016-09-20 21:48] nathan-at-least commented on #1365
Removed 'needs prioritization' because this is already in a milestone.

[2016-09-20 21:49] nathan-at-least commented on #1330
Added this as an rc1 goal.

[2016-09-20 21:49] daira commented on #1419
Yes, the genesis block subsidy should be zero. (That's what is specified by https://github.com/zcash/zips/blob/zips63.specify-founders-reward.0/protocol/protocol.pdf section 6.5.)

[2016-09-20 21:49] nathan-at-least commented on #1369
Now in rc1 milestone.

[2016-09-20 21:53] nathan-at-least commented on #1296
Added to rc2.

I'm less sure about bittorrent, even though this is obviously a good use case for it, because I don't know how much that would complicate ``fetch-params.sh``. Let's track bittorrent as a separate ticket.

[2016-09-20 21:56] nathan-at-least commented on #1321
So long as users can mine for an hour or so before memory issues or leaks cause their node to fail, I consider this a post-launch issue. (We'll learn pretty quickly from users if we have leaks, I expect.)

[2016-09-20 22:12] daira commented on #1344
Addresses do not appear in encrypted notes, so that's not a problem.

I disagree that there are parsing ambiguity or DoS issues. Parsing is unambiguous and will be clearly specified; there's no reason to believe that a parsing issue here is more likely than anywhere else. The proposed spec has a limit of 66 bytes for the extension field to address DoS concerns. I don't understand precisely what is

[2016-09-20 22:13] str4d commented on #1426
It doesn't compare the hashes at all, it compares the concatenated indices. Because indices are stored in big endian, and all indices should be unique, it's equivalent to a numerical comparison of the first index in each half of the collision.

[2016-09-20 22:20] daira commented on #1422
-1 on making any code changes for this (except comments). -1 for changing "Equihash". +1 for changing "hash rate" to "solution rate" in any documentation (actually, the protocol spec already refers only to valid Equihash solutions, it never refers to these as "hashes", which would be very ambiguous).

[2016-09-20 22:21] tromp commented on #1426
Oh, then I just misunderstood the code.
When I saw the "memcmp(hash..."
I assumed it compared a hash, but now I remember that array is also
used to hold indices. Sorry for the confusion...

[2016-09-20 22:24] coinspect commented on #1240
Changing the type of a counter from signed to 'std::size_t' can introduce dangerous bugs or memory corruption vulnerabilities in some cases. For example the code above crashes if `vec.size()` is zero. Before changing the type, check if `< 0` or `while >= 0` is  being used as a boundary check.

[code]

[2016-09-20 22:25] daira commented on #1255
Beta 2 is a testnet-reset release, so we don't need to do that: the wallets will in any case be deleted.

[2016-09-20 22:29] tromp commented on #1422
Ok,  "solution rate" is it. I'll point people still using the ambiguous "hashrate" to this discussion
and hope to get them onboard....

[2016-09-20 22:35] daira commented on #838
We still do need to decide on which gcc to build the official distribution with, but that probably belongs in #1034.

[2016-09-20 23:32] nathan-at-least commented on #1419
@daira I agree for cognitive simplicity. However, there may be some implementation snags, so let's timebox that change, and revert to no-change-from-Bitcoin if we hit the timebox limit.

[2016-09-21 00:19] daira commented on #1419
I thought the testnet was already using a genesis block reward of zero? (I could be wrong.)

[2016-09-21 00:23] daira commented on #1422
BTW, I'd like "solution rate" to refer only to the actual number of solutions checked, not to a guessed rate based on the expected number of solutions. The latter introduces systematic errors.

[2016-09-21 00:28] str4d commented on #1422
Reopened this issue to track any documentation changes.

[2016-09-21 00:31] str4d commented on #1344
Ah yes, I was misremembering that a note contains `a_pk`, which is linkable to the address but not the whole address. My DoS concern is alleviated :smile:

[2016-09-21 00:38] daira commented on #1344
I don't quite understand what the concern was, but I guess that's academic.

[2016-09-21 06:40] WyseNynja commented on #1425
I think the installer is failing to handle the "š" in your path

[2016-09-21 06:50] WyseNynja commented on #1153
This shouldn't be necessary. https://bitcoin.org/bin/block-chain/README.txt:

torrent hosted here takes more time to download and import than it would
to simply start Bitcoin Core and let it sync itself.

[2016-09-21 07:21] jl2012 commented on #1386
FYI, segregated witness in Bitcoin has also dropped FindAndDelete

[2016-09-21 08:10] Aelkeris commented on #1425
Aaaaaaaaaaaaaand, you Sir, are very correct.
Changed the dir, and now it works.

[2016-09-21 08:29] barisicm opened #1428 "Running zcash issue"
I am currently performing the "Running" section of the z cash github beta guide.
And when running the : "./src/zcashd -daemon"

I get this error (below). And i am again not sure where exactly to go.
I looked up on my filesystem, and there is no "zcash-params" file, or directory in my home/marin directory.
And also there is no "z9-verifying.key".

EXCEPTION: St13runtime_error
could not load param f

[2016-09-21 08:38] str4d commented on #1348
[Boost doesn't yet support OpenSSL 1.1.0](https://svn.boost.org/trac/boost/ticket/12238), but there are patches linked in that ticket that enable support (once ported to Boost 1.62), which I have ported and applied. The only other changes necessary are to `src/ecwrapper.cpp` to use the upgraded API.

[2016-09-21 12:34] str4d commented on #1348
Also `src/wallet/crypter.cpp` (a simple change) and `src/test/bignum.h` (not so much, haven't figured out a bypass yet).

[2016-09-21 13:08] rickster-gh commented on #1428
could it be that you skipped the step: "./zcutil/fetch-params.sh" ?
which fetches the file in question.

from the beta-guide:
$ git clone https://github.com/zcash/zcash.git
$ cd zcash/
$ git checkout v1.0.0-beta1
$ ./zcutil/fetch-params.sh
.... build ....
.... test ....
$ ./src/zcashd -daemon

[2016-09-21 13:21] JanKalin commented on #838
Yes, the compilation issues are still there. In fact the number of them has increased. I'm enclosing output from "git diff > zcash_diff.txt". These are the steps (from history) needed to compile on my machine:

 1877  git clone https://github.com/zcash/zcash.git
 1878  cd zcash/
 1879  git checkout  v1.0.0-beta1
 1880  ./zcutil/fetch-params.sh
 1881  vim src/crypto/equihash.h
 1882  vim src/gtest/

[2016-09-21 14:28] daira commented on #1426
I will check this.

[2016-09-21 15:13] daira commented on #1425
Note that it could either have been the "š" or the space. (I'd bet on the space.)

[2016-09-21 15:14] daira commented on #1425
Based on this, it's definitely the space. Reopening.
[code]

[2016-09-21 15:18] daira commented on #1425
It may be sufficient to just detect this case and abort the build with a good error report.

[2016-09-21 16:13] nathan-at-least commented on #1344
My overall concern is "I don't believe we have time to cautiously evaluate the safety of protocol changes that are system-wide and have long term impacts."

Is it true that the only reason to rush it is to avoid future clients to support two address formats for compatibility reasons? Maybe I'm underestimating *that* cost, but to me it seems like a much safer route.

I may be wrong. _I_ certainly a

[2016-09-21 16:20] nathan-at-least commented on #1344
Another concern (related to the many addresses per single spending authority):

Suppose software needs to compare two addresses for identity. In our current scheme is it true that this is just a bytewise comparison as per C's `strncmp`?

In the new proposal, how can software successful determine if two addresses are for the same spending authority? (-and what systems will be broken if they assume

[2016-09-21 18:29] Aelkeris commented on #1428
I did all the steps besides ./zcutil/fetch-params.sh .
Then i re did those steps (except testing, since i have a machine with 4 gb ram)
And now i get this  :

EXCEPTION: St13runtime_error
could not load param file at /home/marin/.zcash-params/z9-verifying.key
Zcash in AppInit()

zcashd: scheduler.cpp:19: CScheduler::~CScheduler(): Assertion `nThreadsServicingQueue == 0' failed.

[2016-09-21 22:37] bitcartel commented on #1373
The message below is output in SendMoney which is only used by RPC call sendfrom and sendtoaddress, so user was trying to spend coinbase taddr with upstream RPC, which is not possible since it must goto a zaddr:

[2016-09-22 02:39] str4d commented on #1348
I now have Zcash compiling with OpenSSL 1.1.0 and all tests pass locally.

[2016-09-22 03:10] str4d commented on #884
This was fixed in a1de76c7a05e4afb599bf075b610d1965a77b3f7.

[2016-09-22 03:10] #884 closed

[2016-09-22 06:45] WyseNynja commented on #1428
Can you include the full output of `./zcutil/fetch-params.sh`? That should help point to why the verifying key isn't available.

[2016-09-22 07:32] Aelkeris commented on #1428
zcash - fetch-params.sh

Updating testnet3 symlinks to regtest parameters.
Verifying parameter file integrity via sha256sum...
regtest/z9-proving.key: OK
testnet3/z9-proving.key: OK
regtest/z9-verifying.key: OK
testnet3/z9-verifying.key: OK

..Yeah, i do not feel smart

[2016-09-22 07:42] rickster-gh commented on #1428
So its working now Aelkeris?

[2016-09-22 07:44] Aelkeris commented on #1428
Nope.

[2016-09-22 07:46] Aelkeris commented on #1428
Although i think i have an issue with the first part of the running.
Where the docs say that i need to make a directory and then placing the config file.
When i input the commands specified in the docs, i get no new directory. And i am not sure if the config file already exists somwhere, or do i need to create it myself ?

[2016-09-22 07:48] rickster-gh commented on #1428
you have to create it like:
nano ~/.zcash/zcash.conf
or whatever editor you use

[2016-09-22 07:51] Aelkeris commented on #1428
When i run "mkdir -p ~/.zcash" i get no new directory anywhere.
Or atleas i am not sure where it gets created.

[2016-09-22 07:53] Aelkeris commented on #1428
Ok, so when i first created directory, i got nothing.
But when i created the file like you specified : "nano ~/.zcash/zcash.conf"
I got the zcash server to start.

[2016-09-22 07:57] rickster-gh commented on #1428
You can omit the '-p' as you only try to create 1 dir.
'~' points to your home directory e.g. '/home/Aelkeris'
so what you did was mkdir /home/Aelkeris/.zcash and
nano /home/Aelkeris/.zcash/zcash.conf
don't know how familiar you are with linux but files + directories starting with a . (dot) are hidden from the default file listing.
you can do 'cd' to get into your home directory, then 'ls -la' to

[2016-09-22 07:59] Aelkeris commented on #1428
Well, i am a relativley new linux user, so i do not know all the quirks and nuances yet. (Or basic functionalities, depends on your point of view) But i get around.
Anyway, your solution with nano helped me. Thank you very much.

[2016-09-22 08:01] rickster-gh commented on #1428
glad you got it running now. your welcome 👍
you can also check the z.cash website and join the slack-channels full of great people

[2016-09-22 08:07] Aelkeris commented on #1428
Can you tell me, what is the waiting time for a faucet to send me some zcash ?

since i get nothing with :"./src/zcash-cli listunspent"

by "nothing" i mean :
"
[
]
"

Should i just wait a bit ?

[2016-09-22 08:13] reactivate-gh commented on #1428
the listunspent cmd ist to show you coins you have created.
./src/zcash-cli getwalletinfo might be what you are looking for.
also it takes some time for the coins to show up :)

[2016-09-22 10:42] ageis commented on #609
As I see it, the details of the binary building process are prerequisite to signing and dictate some of the decisions to be made. As @defuse said there's no widely-used standard process.

e.g. build machines: who performs the release builds, and where do they happen? The DevOps engineer could be responsible for this, or one of the Zcash core developers.

As maintainer of the website and infrastruc

[2016-09-22 10:46] ageis commented on #1034
I grabbed the source for the Debian package for Bitcoin and I only just began to convert and construct a .deb package that will work installing for Zcash.

Question: do we want the Debian packaging-related files to be committed in a subdirectory of this repository, or should we make a separate one?

[2016-09-22 11:01] daira commented on #1192
Test: https://speed.z.cash/timeline/?exe=1&base=1%2B70&ben=time+solveequihash&env=1&revs=200&equid=off&quarts=on&extr=off

[2016-09-22 11:04] daira commented on #1192
Looks like the Permalink links do work. I'd prefer if the URL bar just always showed links that work, but I guess using the Permalink is an adequate workaround if you know about the problem.

[2016-09-22 11:14] ageis commented on #1216
I'm missing a clear picture of the path forward and some domain-specific knowledge. I've never even run the tests locally. In #777 there were some compile options and stuff posted in order to run tests under ASan. Do those changes need to get merged into Zcash/master, some dependencies installed on the CI server, and then we are all set? Or are there modifications to our Buildbot config required a

[2016-09-22 11:56] ageis commented on #1296
We're now set up on Google Cloud Storage as a secondary provider, and there is automatic replication from our S3 bucket (if changes are detected) every night. From my home I see similar download rates between them.

* https://storage.googleapis.com/zcashco/z9-proving.key

Why should we modify `fetch-params.sh` to include multiple hosts, when we can just run a proxy on `z.cash/downloads` that intel

[2016-09-22 12:09] ageis commented on #1348
https://mta.openssl.org/pipermail/openssl-announce/2016-September/000080.html

[2016-09-22 12:42] sampablokuper commented on #609
I'm puzzled by this. What is the problem to which this is the solution?

[2016-09-22 12:50] str4d commented on #1393
Duplicate of #867.

[2016-09-22 12:50] #1393 closed

[2016-09-22 12:58] str4d commented on #944
@rcseacord @daira other than upgrading to latest Boost, what else exactly was required to close this issue? I can add it to #1429.

[2016-09-22 13:02] str4d commented on #1241
I currently have Boost 1.62.0.beta.2 in #1429, so we can test that branch against ASan to check that it resolves the issue.

[2016-09-22 14:23] litrbooh commented on #1412
I have same erros

[2016-09-22 15:17] ageis commented on #609
@sampablokuper I'm merely throwing ideas out in brainstorm, since I haven't been present for any previous open discussion of this. In reality, the binary that ultimately gets signed will be that which is uploaded by the Gitian builder, and signed by multiple developers, verified to have been produced deterministically.

[2016-09-22 15:46] zawy12 commented on #1422
@artlav  At the lower time bins with something like 20, 40, and 60 seconds for a CPU,  1 solution = 20 seconds, but that stops being true at the higher times, which I think is why the average of the times is less than the average of 20 x the average of the runs.  So 2.8 x solutions is correct, and 2 / time is correct. But it is the 2nd one that is needed for solves/time results.

[2016-09-22 15:57] ampyx opened #1430 "Change the measure for multithreaded solveequihash to solutions per second"
I believe it would be a nice feature if the equihash benchmark utility would put out an average solutions per second instead of a running time per thread.

The time to run the algorithm per thread does not give a clear indication on how many solutions are found at all. People on the forum calculate this by compensating with a factor two (according to the paper there are two solutions found on each

[2016-09-22 15:58] ageis commented on #609
To elaborate on why this is so important: we have good reason to be
concerned about so-called "watering hole attacks", where the software
development and build processes themselves are attacked in order to deliver
malicious code to thousands of users at once; any malicious code delivered
at any point which could backdoor or provide a way to exfiltrate coins. Of
course, we are bootstrapping a block

[2016-09-22 16:26] tromp commented on #1430
I agree with the above except for the formula, which is an average of rates and thus can be quite misleading. For instance if half the trials find 10 solutions in 10 seconds and the other half find 10 solutions in 1 second. Then the overal rate is 20 in 110 is ~1.8, while the average of rates 1 and 10 is 5.5
So I prefer the simpler (total number of solutions) / (total time), that being the overall

[2016-09-22 16:38] zawy12 commented on #1422
Can someone correct, support, or clarify @artlav 's statement for me?   Daira has said it is a little less, not 40% higher.  I'm thinking it's wrong, either because of how the "0 solution" comes into play, or because the avg(time/run)  is simply >  avg(time/solve x solves/run) because the time for say a 5-solution run is more than 5 x the time than a 1-solve run.

[2016-09-22 17:28] daira commented on #1430
Duplicate of part of #1191. Please feel free to comment on that ticket!

Agreed. I intend this to be implemented by adding a new throughput benchmark, not by changing the existing benchmark beyond the improvement implemented in #1376, because it's important to maintain continuity of the benchmark history.

The throughput benchmark is likely to work by running multiple threads for a specified (fair

[2016-09-22 17:28] #1430 closed

[2016-09-22 17:29] daira commented on #1191
#1430 was a duplicate, and has some good comments.

[2016-09-22 17:34] daira commented on #1422
I should clarify that I haven't measured it. The theoretical expected number of solutions can be calculated as follows:
[code]
which gives 1.879.

[2016-09-22 17:36] daira commented on #1422
And yes, it's not correct to calculate the expected rate as just (expected solutions * mean full solution run time); that would only be correct if the full solution run time were independent of the number of solutions, which it absolutely is not.

[2016-09-22 17:48] tromp commented on #1422
That closely matches my 18841 total solutions found over 10000 runs of a solver.

[2016-09-22 17:50] nathan-at-least commented on #609
Here's what I propose:

- we use a reproducibile build system (in our case gitian),
- a release manager tags a git revision, signed with their personal dev key,
- if it's possible for other parties to sign the same git tag, we could have multiple devs stake their reputation on the line as attesting to the correctness/safety/goodness of the tag,
- multiple people run the reproducibile build system

[2016-09-22 18:03] paragonie-scott commented on #609
Count me in on this point, should your proposal be adopted.

[2016-09-22 18:18] ageis commented on #609
@nathan-at-least That sounds great.

Ok, so #1381 will come later, when there are signed tags and packaging. For the present time / beta2 we will focus on achieving multiple build signatures from multiple developers on a deterministic binary.

[2016-09-22 21:24] artlav commented on #1422
Correction - my 2.8 number is likely biased, since i made the test suite out of already-mined block found on the testnet, which, by definition, are all with one or more solutions.

However, further observations of the actual solver running on the actual network reveals the existence of some amount of runs with ZERO solutions, which would, i suspect, drive the average down.

[2016-09-22 22:10] zawy12 commented on #1422
The 15 to 20 second solves seen on CPUs are the zero solutions. That's why no solves from CPUs on the testnet are less than 30 seconds.

[2016-09-22 22:21] str4d opened #1432 "Upgrade Google Test and Google Mock"
Google Test 1.80 was recently released, which is the first release since the Google Mock repository was merged in. We should upgrade to use it.

Split off from #867.

[2016-09-22 22:33] str4d commented on #1241
#1429 now upgrades Boost to 1.61. This issue is now for tracking Boost 1.62, which may be released in time for our beta 2, but we won't block on (since it *should* still be released well before we launch).

[2016-09-23 00:48] str4d commented on #1188
We also already contain the fix to BIP 66 case 1 (enforcing strict DER encoding), because that was added in Bitcoin 0.8. However, for all other cases we would be writing failing tests (until either we write fixes, or we merge them from upstream). Thus this ticket blocks on #1433.

[2016-09-23 00:51] nathan-at-least opened #1434 "git sign release tags"
Separately: place gpg pubkeys on our website. I'll file a website ticket for that.

[2016-09-23 04:40] bitcartel commented on #1195
First alert 1000 was sent today and received by a community member.

[2016-09-23 08:56] str4d commented on #1424
@ampyx @artlav I have opened a PR that updates GBT with the additional information necessary to use it with Zcash, and also implements `coinbasetxn` from BIP 22 (and uses it by default). Please test it and see whether it helps to resolve your issues :smiley:

[2016-09-23 09:49] ampyx commented on #1424
@str4d This looks like something we can work with. In my current version I use validateaddress to obtain the pubkey for the coinbase transaction. Glad that this is now supplied directly by GBT.

[2016-09-23 11:10] seefood opened #1436 "zcash-cli subcommands are a mishmash, help is not helping..."
The "help" is not helping put an order to the mess of options, and some of the commands don't seem to work. there are z_commands that seem to echo non z_ prefixed ones, but I don't se a document explaining all this either (other than the updates of "Beta guide" Wiki page).

Example:
﻿⁠⁠⁠⁠`zcash-cli backupwallet`﻿ creates a pretty big file⁠⁠⁠⁠ (and it grows every time I mine a block and get a new T

[2016-09-23 11:23] daira commented on #1436
In general:

The commands without "z_" or "zc"  do not support any functionality of protected notes. They are identical to the Bitcoin equivalents, in order to avoid breaking software dependent on the Bitcoin RPC. We may deprecate some of them, but not before launch.

The commands starting "zc" are deprecated (except for zcbenchmark). They were a low-level interface for testing and development tha

[2016-09-23 11:26] daira commented on #1436
BTW, dumpwallet does not include z-addresses in its output. This is documented. Use z_exportwallet instead.

[2016-09-23 11:41] daira commented on #1432
This is not security-relevant, why do we need to do it now?

[2016-09-23 12:02] str4d commented on #1432
I was doing it as part of upgrading all our dependencies, and only split it off because I couldn't get it to work immediately. I agree that this is not security-relevant, so I won't mind if it is kicked out later, but if someone did have an easy fix to my PR then it was a trivial inclusion.

[2016-09-23 12:15] daira commented on #1405
The spec has been updated (2016.0-beta-1.5 on master).

[2016-09-23 14:35] vaklinov opened #1438 "ZCash GUI Wallet needs a way to list all transactions"
I am working on a ZCash GUI Wallet as a hobby-type project. It is here: [https://github.com/vaklinov/zcash-swing-wallet-ui](https://github.com/vaklinov/zcash-swing-wallet-ui)

I have the problem that there seems to be no way to list ALL transactions, only some of them. The command: `./zcash-cli listtransactions` lists incoming transactions for transparent (T) addresses. It does **not** list outdoi

[2016-09-23 15:44] swt83 commented on #1412
When I increased the ram the tests passed.

[2016-09-23 15:44] #1412 closed

[2016-09-23 18:40] seefood commented on #1436
z_exportwallet creates no file, so I guess that's a bug :-)

[2016-09-23 19:01] bitcartel commented on #1436
Are you sure?  z_exportwallet filename

[2016-09-23 22:26] ocminer opened #1439 "Have a empty extrabyte between nonce and solutions vector"
May I suggest:

C/C++ will have alignment problems with the current order / size of the vectors when writing miners:

...8045f2c5e80000 fd4005 006e053311165...

Should be changed to reflect:

8045f2c5e80000 00fd4005 006e053311165...

So we need one extra byte between

https://github.com/zcash/zcash/blob/master/src/primitives/block.h#L32-L33

to get it aligned nicely (reflecting the 00 in example a

[2016-09-24 02:51] daira commented on #1439
It's too late to change this. Sorry.

[2016-09-24 02:51] #1439 closed

[2016-09-24 02:54] daira commented on #1439
Anyway, ``nSolution`` is already 32-bit-aligned, so I don't understand how this would have helped.

[2016-09-24 03:06] daira commented on #1426
You're right, the spec is wrong (and does not match the paper or the implementation). Thanks.

[2016-09-24 09:16] bitbandi commented on #1439
not "aligned". std::vector store first the vector lenght in [compact format](https://github.com/zcash/zcash/blob/80259d4b4f193c7c438f3c057ce70af3beb1a099/src/serialize.h#L254) (which is currently 0xfd4005), and after the vector data. so the vector data started in 143 byte position, ended in 1487 byte position.

[2016-09-24 09:43] ageis commented on #1296
It's creative, but I don't know if fetching different chunks from separate servers is a great idea. I see two approaches to the problem. It depends on what's more important for hosting the parameters—is it throughput or reliability?

If the former, we can put some logic in `fetch-params.sh`. Only end-users are able to measure their route to Amazon or Google. See this proof of concept:

[code]

If

[2016-09-24 10:21] daira commented on #1439
I see. It's too late to change, though.

[2016-09-24 17:08] nerdralph opened #1440 "clarify blake2b-256 implementation in documentation"
The specifications refer to the zcash protocol.
https://github.com/zcash/zcash/wiki/specification
https://github.com/Electric-Coin-Company/zips/blob/master/protocol/protocol.pdf

The protocol refers to blake2b-256 and states, "This is not the same as BLAKE2b-512 trun-
cated to 256 bits." (p. 21, s. 5.4.2)

The paper refers to RFC 7693, in which FUNCTION BLAKE2 returns 'first "nn" bytes from little

[2016-09-24 19:43] WyseNynja commented on #451
https://github.com/bitcoin/bips/blob/master/bip-0134.mediawiki "Flexible Transactions" might also be of interest

[2016-09-25 00:50] daira commented on #1440
The output size also affects the parameter block used for the IV; that's why it is not simply the same as truncation. I can say this explicitly if you think it would make the spec clearer. (It is stated in [RFC 7693 section 2.5](https://tools.ietf.org/html/rfc7693#section-2.5).)

[2016-09-25 01:22] nerdralph commented on #1440
Yes, I think that would make things clearer.  I think part of the problem is the RFC, not just the zcash protocol doc.  After seeing your explanation, I noticed the code in s. 3.3 doesn't technically use the parameter block p[].
https://tools.ietf.org/html/rfc7693#section-3.3

While it does mention it in the comment "// Parameter block p[0]", I think many developers are like me and tend to skip co

[2016-09-25 07:09] ageis commented on #1287
I see no reason why this shouldn't be working, so I'm closing this issue.

[2016-09-25 07:09] #1287 closed

[2016-09-25 07:11] ageis commented on #630
The DNS seeder is now working, an announcement was made on the forum: https://forum.z.cash/t/improved-network-bootstrapping-and-reliability/1959/3

The main thing that was stopping it was a hard-coded required block height. There were other issues and questions that popped up during the process of debugging, but those have now been cleared up.

[2016-09-25 07:11] #630 closed

[2016-09-25 08:58] daira commented on #1440
The code in the RFC does use ``nn`` at that point, and is technically correct. I agree that RFC isn't a particularly clear explanation, so I think I'll just drop it as a reference. [ANWW2013] is sufficient.

Note that EquihashGen generates two X<sub>i</sub> values per hash, which wouldn't be possible using BLAKE2s. So it is slightly faster overall for the Equihash solver to use BLAKE2b. The main r

[2016-09-25 14:32] nerdralph commented on #1440
I'm trying not to look at the zcash code, since a competent third party should be able to implement the zcash PoW using only the specification.
When you say, "EquihashGen generates two Xi values per hash", does that mean the PoW algorithm does not follow the equihash paper?  Specifically, s. IV, specification, refers to one hash per Xi:
H(I||V||x1) ...

I see the note in s. 5.4.3 of the zcash prot

[2016-09-25 18:00] daira commented on #1440
The "H" referred to in the paper is precisely EquihashGen. The paper doesn't say how that H is instantiated. For Zcash we instantiate it in such a way that each consecutive pair of indices uses different parts of the output from the same BLAKE2b hash.

Not quite but the same idea: it's the first 200 bits and the next 200 bits of BLAKE2b-400.

[2016-09-25 19:35] ageis commented on #777
@daira @str4d @nathan-at-least When I add those two ASAN variables to `libzcash_a_CPPFLAGS` as in @rcseacord's diff and then try to run the test suite, etc., I get:

[code]

I suspect they are not really supposed to be there (in CPPFLAGS). Might it be sufficient to declare them at build-time in `build.sh`, while having `-static-libasan  -fsanitize=address` in CPPFLAGS?

[2016-09-25 21:13] zhab1212 opened #1441 "Error -30974"
Please help. After starting get this masage:

---

EXCEPTION: St13runtime_error
CDB: Error -30974, can't open database
Zcash in ProcessMessages()

[2016-09-26 04:16] ageis commented on #1216
There's a new zcashASan builder on https://ci.z.cash/. On its first tests it found a heap-use-after-free.

Still TODO related to CI: run this builder + Valgrind on a new buildslave on another machine.

[2016-09-26 16:30] ebfull commented on #1335
I nominate moving this out toward when we add the MPC'd parameters in. It's not really hard to change (I'll do it) and there's no point doing it for the current parameters.

[2016-09-26 18:25] zookozcash commented on #1409
I don't get why this is "dangerous". Isn't the difference between Bitcoin and Zcash that in Bitcoin almost all (but not necessarily all) of the transactions get automatically re-applied after a reorg, and in Zcash the same is true, but private transactions are more likely to get dropped?

The only danger that I see here is if users get used to the "fire and forget" assumption. They shouldn't! If t

[2016-09-26 20:58] nathan-at-least commented on #1344
I think we all like this in principal, but I'm concerned about various kinds of potential attacks or risks this would introduce around address comparisons, extension stripping, etc... so we're postponing consideration of this feature for later.

[2016-09-26 20:59] nathan-at-least commented on #906
We've determined this isn't useful / necessary.

[2016-09-26 20:59] #906 closed

[2016-09-26 21:11] nathan-at-least commented on #1216
This is in place. Nice work!

https://ci.z.cash/builders/zcashASan

[2016-09-26 21:11] #1216 closed

[2016-09-26 21:32] ageis opened #1442 "Heap-use-after-free in Boost"
From https://ci.z.cash/builders/zcashASan/builds/4/steps/full-test-suite.sh/logs/stdio
Was this one of the same Boost issues found during one of the audits?
[code]

[2016-09-26 21:49] nathan-at-least commented on #1426
Let's move spec issues over to the zips repo. @daira can you do this?

[2016-09-26 21:57] str4d commented on #1408
Per https://github.com/zcash/zcash/pull/1421#issuecomment-249704702, we've removed this is a target for our launch. To upgrade to something like this after launch, we'll need to go through the ZIP process.

[2016-09-27 06:50] bitcartel commented on #1202
Published: https://z.cash/support/zig.html
Closing this ticket.

[2016-09-27 06:50] #1202 closed

[2016-09-27 10:22] str4d commented on #812
We are now considering https://github.com/zcash/zcash/issues/812#issuecomment-248110194 for z-addrs, and potentially a similar setup for t-addrs (so e.g. `T11-` for pubkey hash, `T13-` for script hash, etc...)

The difference to https://github.com/zcash/zcash/issues/812#issuecomment-248128000 is that transparent addresses would have 3 prefix bytes instead of 2. Both of these would require about th

[2016-09-27 10:58] daira commented on #1335
I disagree with waiting until we have the MPC'd parameters for this. We need to find any bugs/problems before then.

[2016-09-27 11:31] daira commented on #1440
Fixed in 2016.0-beta-1.6.

[2016-09-27 11:31] #1440 closed

[2016-09-27 11:37] daira commented on #1436
By the way, I don't like the fact that ``dumpwallet`` and ``z_exportwallet`` create files at arbitrary paths with the permissions of the zcashd user; it's a privilege escalation flaw waiting to happen. We might change either or both of these calls.

[2016-09-27 12:36] str4d commented on #1395
Note that the command to use will be `-reindex` for beta 2, not `-rescan` (unless I somehow get the latter finished in time).

[2016-09-27 15:54] daira commented on #1296
Let's try not to reinvent Tahoe-LAFS in a shell script ;-) I'm for keeping it as simple as possible subject to compensating for S3's unreliability (which I've also seen in Least Authority's use of it for S4).

[2016-09-27 18:04] daira commented on #1259
https://github.com/boostorg/iostreams/pull/24 has been merged, so this will be in boost 1.62. Therefore we don't need to keep this ticket open as something to fix separately.

[2016-09-27 18:04] #1259 closed

[2016-09-27 18:27] bitcartel opened #1446 "RPC command gettransaction does not currently show joinsplits"
Gettransaction provides contextual information about a tx and how it relates to the user's wallet.
Related to #1427

[2016-09-27 18:30] bitcartel opened #1447 "Document new API calls in wallet"
New APIs in the wallet such as FindMyNotes are not documented, so using these APIs correctly involves knowledge transfer from author.  We should add comments in the code to document usage and intent before this knowledge is lost or forgotten.

[2016-09-27 22:29] str4d commented on #1378
This will be closed by #1384; we can re-open if the issue persists in beta 2.

[2016-09-28 04:44] kost opened #1449 "This is alert 1005, will disable safe mode"
$ src/zcash-cli getinfo
{
    "version" : 1000000,
    "protocolversion" : 170002,
    "walletversion" : 60000,
    "balance" : 0.00000000,
    "blocks" : 2704,
    "timeoffset" : 0,
    "connections" : 8,
    "proxy" : "",
    "difficulty" : 47.51500471,
    "testnet" : true,
    "keypoololdest" : 1475037596,
    "keypoolsize" : 101,
    "paytxfee" : 0.00000000,
    "relayfee" : 0.00005000,
    "

[2016-09-28 13:25] daira commented on #812
I don't think that 3 prefix characters are necessary. What's wrong with just having T as the prefix, as the current (2016.0-beta-1.6) spec says? Either way we need to make this decision now, preferably today, and stick to it.

[2016-09-28 17:19] daira commented on #1449
It's not necessary to report this alert. We should have cancelled it.

[2016-09-28 17:19] #1449 closed

[2016-09-28 17:21] daira opened #1450 "Reencode Founders' Reward keys for testnet after changing transparent address prefixes"

[2016-09-28 21:09] nathan-at-least commented on #1348
Came here to see if we're going with `1.1.0b` as per @rcseacord's recommendation in email, and that looks like the most recent commit. Nice work @str4d!

It sounds like we should routinely check for openssl upgrades due to a high rate of expected security issues/patches. Of course our higher priority longer term goal is to remove it as a dependency, a la #145, but until we do, let's not neglect up

[2016-09-28 23:08] burdges commented on #714
Assuming there are no risks to the anonymity here, an alternative to changing curves would be instituting a cap on the maximum value in a transaction or account so that attacks cannot be profitable.

There are practical issues in that attacks costs are denominated in USD, EUR, etc., and the exchange rate should fluctuate, but 96 bits should give a safe margin for quite a while.

[2016-09-28 23:28] daira commented on #714
@burdges wrote:

That cannot work for an anonymous/private cryptocurrency. Nothing prevents an adversary from just repeating the attack arbitrarily many times. We did consider a transaction limit (#141), but decided (in discussions that are not reflected on the ticket) that it had very limited usefulness and would not be in Zcash 1.0.

[2016-09-28 23:34] daira commented on #714
Note that the cost of violating balance for N transactions is not necessarily N times larger (or even any larger at all) than for one transaction. Precomputation attacks are possible for other DL-based protocols and I would conservatively assume they are possible here. I also suspect that the best approach is to attack the parameters rather than the point multiplications used in any particular pro

[2016-09-29 00:32] str4d commented on #1348
Boost 1.62 includes the patches for supporting OpenSSL 1.1.0, so I have removed them from #1429.

[2016-09-29 00:33] str4d commented on #1241
Boost 1.62 has been released on-time! #1429 now uses it.

[2016-09-29 00:38] daira commented on #1348
Let's routinely upgrade OpenSSL on every release. In addition, we should pay attention to OpenSSL security advisories to see whether an unscheduled release is needed (this would probably only be the case if we has reason to believe the vulnerability affects Zcash; many OpenSSL bugs are specific to the SSL/TLS/DTLS/X.509 code which Zcash does not use).

[2016-09-29 00:49] str4d commented on #944
- ec3bd70b6d6ef8be901a5523a401e333c52e7bbe added `-Wno-deprecated-declarations` (before we had `-Werror`.
- be1bae14e8a769966b833026ed47a43f5250a4b9 hid new Boost warnings on GCC 6 using `-Wno-placement-new -Wno-terminate`.

#1429 now upgrades Boost to 1.62, but I am unable to remove `-Wno-deprecated-declarations` because we still get deprecation warnings about `auto_ptr`. The patch linked in the

[2016-09-29 01:00] str4d commented on #1348
@daira agreed. I have updated the release process in #1429 to remind future release managers.

[2016-09-29 01:20] daira commented on #944
That's unfortunate. Yes, let's patch out that #pragma.

[2016-09-29 01:37] str4d commented on #944
I have added a patch for Boost to fix the `auto_ptr` warnings in #1429, and re-enabled all disabled compiler warnings. Someone needs to confirm that there are no warnings on GCC 6.

[2016-09-29 01:42] daira commented on #1057
Important:

(from https://gmplib.org/gmp6.1.html). So don't attempt to compile libgmp with clang.

[2016-09-29 05:45] str4d commented on #944
I installed the following GCC 6 version:

[code]

I did a `make clean`, deleted `depends/x86_64-unknown-linux-gnu/` and `depends/work/build/`, and then applied the following patch:

[code]

After this, `./zcutils/build.sh` built #1429 successfully with all three flags above removed (and `-Werror` still enabled). So I'm declaring that #1429 definitely fixes this issue.

[2016-09-29 06:26] burdges commented on #714
Right, I had not considered precomputation attacks, thanks.  :)  Yeah, I suppose your parameters are particularly subject to precomputation attacks.  I suppose the total market capitalization of zcash would need to remain below the cost of an attack or something.

[2016-09-29 11:10] daira commented on #714
That would be the conservative approach, yes. In practice an adversary is unlikely to be able to realise the entire market cap of Zcash before the attack, even if they can arbitrarily violate balance.

[2016-09-29 11:34] str4d commented on #1400
This **MUST** be done before launch, but it won't be ready for beta 2. In the meantime, #1444 enables us to tell users they can fix their local view with `-reindex`.

[2016-09-29 11:43] daira opened #1452 "Exception safety of WriteWitnessCache"
What happens if an exception is thrown after ``TxnBegin()`` in ``WriteWitnessCache``? It should call ``TxnAbort`` and rethrow, I think.

[2016-09-29 11:57] str4d opened #1453 "Change value of genesis block to 0 ZEC"
The mining slow start is calculated such that the total monetary curve is unchanged. In order to do that, block 0 must be worth 0 ZEC, but currently it is unchanged from Bitcoin (ie. 50 ZEC).

We should make the following change in `chainparams.cpp`:

[code]

We also need to check that this doesn't break any assumptions, either in the codebase or in tests.

[2016-09-29 11:59] str4d commented on #1453
I'm putting this in rc1 because while I know it was raised during beta 2, I don't know if any beta 2 PR fixes it. Once beta 2 is out, I will check the status of this issue.

[2016-09-29 12:04] str4d commented on #778
IIRC @ebfull was going to work on this as part of @bitcartel's RPC work, but I'm not sure if it has happened in any of the open PRs (and @ebfull has had his head in other critical work). Could I get a status update please? I can add this to my list of things to knock out over the weekend if necessary.

[2016-09-29 12:09] str4d commented on #1188
Unlikely at this stage that this will be done for beta 2. I might work on this on Sunday/Monday once I'm in the US, if there isn't more important work for beta 2.

[2016-09-29 12:21] daira opened #1454 "Remove support for accounts other than ""."
Accounts are complicated, don't behave as users expect, and can't even be implemented correctly in the presence of JoinSplits (#1427).

I propose that we throw an error on use of any account other than the default "".

[2016-09-29 12:25] daira commented on #3
This is not needed for beta 2. @nathan-at-least shall we move it to the rc1 milestone?

[2016-09-29 12:30] daira commented on #778
Let's add a ``RandomizedJSDescription`` that just does this, and have the RPC use it in place of ``JSDescription``.

[2016-09-29 12:34] daira commented on #1453
I'd rather we change this now so that we have time to address any problems, if it conflicts with assumptions in upstream Bitcoin code.

[2016-09-29 12:36] daira commented on #1426
Fixed in 2016.0-beta-1.6.

[2016-09-29 12:36] #1426 closed

[2016-09-29 12:38] str4d commented on #1453
Fair enough; in the best case it's a trivial change. But I'll wait 24 hours to see if any current PRs cover this.

[2016-09-29 12:41] str4d commented on #1138
I spent an entire evening trying and failing to get https://github.com/zcash/zcash/issues/1138#issuecomment-246578592 to work (because mixing macro string concatenation and constexpr arithmetic is hard). I may have another go at completely replacing the macros in `clientversion.cpp` over the weekend, but this is low-priority to me, because the key user-facing version is determined from the git tag

[2016-09-29 12:44] daira commented on #1093
Although the spec isn't complete, all of the necessary changes are listed [in a zips milestone](https://github.com/zcash/zips/issues?q=is%3Aopen+is%3Aissue+milestone%3A"Specify+all+consensus+issues"), so this ticket is not needed.

[2016-09-29 12:44] #1093 closed

[2016-09-29 12:47] str4d commented on #1195
All five alerts were sent and received; the beta 1 testnet still shows alert 5, and we are still getting user reports (e.g. #1449).

@bitcartel if you are satisfied, could you please close this issue? Cancelling alert 5 is not a blocker, because we will be resetting the testnet for beta 2.

[2016-09-29 12:56] str4d commented on #1251
#1407 and #1411 have been merged, which means we now have the following patches:

- 5843
- 6374 and 6636
- 7079
- 7106

This leaves the following from https://github.com/zcash/zcash/issues/1251#issuecomment-239973549:

- bitcoin/bitcoin#5875
- bitcoin/bitcoin#6193
- bitcoin/bitcoin#6722
- bitcoin/bitcoin#6750
- bitcoin/bitcoin#6771
- bitcoin/bitcoin#8020
- bitcoin/bitcoin#8078

[2016-09-29 13:25] daira commented on #451
I'm much more skeptical about segwit now than when I wrote the earlier comments. It's incredibly complicated and bundles together a scarily large set of changes. Most of the benefit can be obtained more simply by a hard fork to this approach that we very nearly included in 1.0: https://github.com/zcash/zcash/pull/1421

[2016-09-29 13:35] daira commented on #1344
The issue that changed my mind about including this in 1.0 is the following: suppose we define an address extension and all clients have changed to support it. I publish an address that uses the extension. Then, an attacker can strip the extension and publish a related address that will force a downgrade to the old functionality, even in clients have have upgraded.

[2016-09-29 13:50] daira commented on #397
I'm happy that this has had sufficient review. (It hadn't when this ticket was opened, and in fact we made significant design simplifications, such as only using a single JoinSplit signature covering the whole transaction.)

[2016-09-29 13:50] #397 closed

[2016-09-29 14:00] daira opened #1455 "Bulk-move issues with the "move to zips" tag"
At some point we ran a script to bulk-move issues from the Electric-Coin-Company/libzerocash tracker to this tracker (see #40 for example). I would like to now do the same for [issues tagged "move to zips"](https://github.com/zcash/zcash/issues?q=is%3Aopen+is%3Aissue+label%3A"move+to+zips"), with the zcash/zips tracker as the destination.

[2016-09-29 21:17] nathan-at-least commented on #609
This ticket is ambiguous, because we want different kinds of signatures which provide different kinds of assurances:

* signing git tags - #1434
* signing reproducible build outputs - ???
* signing installable packages - ???
* signing each git commit (optional / bonus) - ???

[2016-09-29 21:25] bitcartel commented on #1195
Test was successful.

[2016-09-29 21:25] #1195 closed

[2016-09-29 22:02] daira opened #1456 "Document errata and fixes for NCC findings"

[2016-09-29 22:03] daira commented on #1456
This has now been fixed in the protocol spec.

[2016-09-29 22:08] daira commented on #1456
The link to Bitcoin issue 6211 actually goes to issue 621. We haven't exhaustively checked other links.

[2016-09-29 22:12] daira commented on #1456
What does the Status column mean in the Table of Vulnerabilities?

[2016-09-29 23:17] daira commented on #1453
Now that I think about it, if this doesn't go into beta 2 then it won't be properly tested until we set up the private mainnet, because (AFAIK) we are not planning to have another testnet reset between beta 2 and launch. Therefore it should go into beta 2.

[2016-09-30 00:50] #1306 closed

[2016-09-30 01:09] str4d commented on #1453
Heh, this is slightly more work than I originally thought, because it changes the genesis block hash. So I need to regenerate the genesis blocks and miner tests.

[2016-09-30 06:58] #1394 closed

[2016-09-30 08:47] paolomarin opened #1457 "Testing failure detected"
After running test:
$ ./qa/pull-tester/rpc-tests.sh
Failure detected:
!!! FAIL: zcjoinsplitdoublespend.py !!!

[2016-09-30 11:52] daira commented on #1457
Can you attach the full build log and test output please?

[2016-09-30 11:55] str4d commented on #1457
This is probably an out-of-memory issue; IIRC this particular RPC test creates two JoinSplits at once, requiring twice the RAM.

[2016-09-30 12:14] daira commented on #1409
@zookozcash : it is still a significant change in behaviour from Bitcoin. I would classify it as a reliability issues rather than calling it "dangerous", though.

[2016-09-30 12:16] rcseacord commented on #1456
The link to Bitcoin issue 6211 actually goes to issue 621 has been fixed.  I've been clicking on as many links as I can find.  8^)

[2016-09-30 12:17] rcseacord commented on #1456
We are using the Status column in this particular report to indicate if an issue has been opened.  Updating this now as well.

[2016-09-30 12:18] daira commented on #1409
As far as I can see this is a duplicate of #1392, or at least we don't need two separate warnings for this.

[2016-09-30 12:18] #1409 closed

[2016-09-30 12:29] daira commented on #1392
This interacts with the choice of minconf, but I don't think a low minconf itself is the problem. The probability of a reorg at a given depth happening isn't directly affected by the reorg-past-anchor issue (except in terms of attack incentives); that issue only affects the likelihood of a transaction getting back into the chain -- which as @zookozcash said on #1409, isn't something that users can

[2016-09-30 12:35] daira commented on #1410
Is this talking about DoS attacks? Please clarify the precise issue @nathan-at-least .

[2016-09-30 13:00] daira commented on #564
Woah, this is an old ticket. In fact that branch has been deleted, although I *might* have a local copy.

[2016-09-30 13:00] rcseacord opened #1459 "NCC-2016-015 - Out-of-bounds Read in Boost date Class"
[Edit by Daira]

A two-byte stack based overflow in a date constructor in the Boost libraries is undefined
behavior and may result in data leaks.

[2016-09-30 13:01] rcseacord opened #1460 "NCC-2016-016 - Generous Miners using Alternative Clients may Cause Forks"
We're currently assessing impact before publishing more detail.

[2016-09-30 13:47] daira commented on #415
For the benefit of future design archaeologists, the Calgary design doc is here: https://github.com/zcash/zips/blob/master/historical/calgary.md

[2016-09-30 13:54] daira commented on #564
I put the Calgary design doc at https://github.com/zcash/zips/blob/master/historical/calgary.md , since it's fascinating for historical context. There is nothing there that is not already in our protocol spec, except for some discussion of chained JoinSplits, for which see https://github.com/zcash/zips/issues/82 .

[2016-09-30 13:54] #564 closed

[2016-09-30 13:54] #742 closed

[2016-09-30 14:05] daira commented on #653
I'm assuming this is no longer an issue.

[2016-09-30 14:05] #653 closed

[2016-09-30 14:09] daira commented on #120
Let's document these answers.

[2016-09-30 14:17] daira commented on #149
We do not use ECDSA for JoinSplit nonmalleability. We use Ed25519 (see #977), and have taken into account malleability issues for that algorithm -- in particular, we enforce that S is in range.

[2016-09-30 14:17] #149 closed

[2016-09-30 14:21] daira commented on #19
Done.

[2016-09-30 14:21] #19 closed

[2016-09-30 14:31] #634 closed

[2016-09-30 14:32] #595 closed

[2016-09-30 14:34] daira commented on #24
We're not going to do this. (We essentially rewrote the code since this ticket was opened, anyway.)

[2016-09-30 14:34] #24 closed

[2016-09-30 14:37] daira commented on #22
See also #1360.

[2016-09-30 14:38] daira commented on #425
See also #1360.

[2016-09-30 14:40] daira commented on #183
This is no longer relevant since we moved libsnark in-tree.

[2016-09-30 14:40] #183 closed

[2016-09-30 14:42] ocminer opened #1461 "getblocktemplate coinbasevalue inconsistent with getblocksubsidy"
Testnet block 345:

getblocktemplate:

    },
    "coinbasevalue" : 17260000,
    "longpollid" : "03430d2499a66f3e5994c8f97ed52ce582c3a9c9778a705ffa6a97c4c6e4915e345",
    "target" : "054fb60000000000000000000000000000000000000000000000000000000000",
    "mintime" : 1475240272,
    "mutable" : [
        "time",
        "transactions",
        "prevblock"
    ],
    "noncerange" : "00000000ffffffff

[2016-09-30 14:43] daira commented on #183
If there is still something to do here, the ticket should be in https://github.com/zcash/libsnark/issues .

[2016-09-30 14:54] daira commented on #1191
This shouldn't have been closed: although #1376 improves the measurement of multithreaded latency, the results are still a bit misleading because they don't reflect the number of solutions found. We need a separate throughput benchmark.

[2016-09-30 14:55] daira commented on #1191
Also, I think we need that throughput benchmark before launch, if at all possible. I may work on it in my spare time.

[2016-09-30 16:15] daira commented on #967
I disagree with the approach in upstream's replacement patch since it does not solve the problem: https://github.com/bitcoin/bitcoin/pull/8580#issuecomment-243011281
I think we should use the approach of https://github.com/bitcoin/bitcoin/pull/8451 instead. We can always change it again if and when upstream fix the UB.

[2016-09-30 16:46] daira commented on #967
https://github.com/bitcoin/bitcoin/pull/8451 is incredibly invasive; trying to cherry-pick https://github.com/bitcoin/bitcoin/pull/8580/commits/9e64b72820f719bcf0dad1ac4006fe5dbd7093cf results in a shedload of conflicts because most of that code has been touched by segwit. (The way that git does cherry-picks exacerbates the problem.)

[2016-09-30 16:54] daira commented on #1460
transaction with the founder’s address listed as the output.

main.cpp:3075: [...]

[2016-09-30 16:58] daira commented on #1460
This is specified as intended. I will clarify the protocol specification to make the strict equality a MUST requirement, ensuring that this is clear to implementors of alternative clients. A miner (or anyone else) may donate any additional ZEC to Founders' addresses if it feels like it, but must do so in a separate output. There is a potential spec ambiguity in the case of multiple outputs to the

[2016-09-30 17:03] daira opened #1462 "There is no NCC-2016-013"
This vulnerability ID is not assigned.

[2016-09-30 17:03] #1462 closed

[2016-09-30 17:07] daira opened #1463 "NCC-2016-012"
a reserved identifier".

[2016-09-30 17:11] daira commented on #1463
Appendix D: Use of Reserved Identifiers

In file src/zcash/util.h:
#define __ZCASH_UTIL_H
In file src/secp256k1/src/ecmult.h:
#define _SECP256K1_ECMULT_
In file secp256k1/src/num_impl.h:
#define _SECP256K1_NUM_IMPL_H_
In file secp256k1/src/field_5x52_asm_impl.h:
#define _SECP256K1_FIELD_INNER5X52_IMPL_H_
In file secp256k1/src/ecmult_impl.h:
#define _SECP256K1_ECMULT_IMPL_H_
In file secp256k1/src/s

[2016-09-30 17:31] daira commented on #1461
Transaction fee, I think.

[2016-09-30 17:43] #1234 closed

[2016-09-30 17:55] daira commented on #1347
[further detail omitted]

[2016-09-30 18:24] daira opened #1464 "NCC-2016-008 - Potential uninitialized reads"
Various reads of uninitialized data (listed in the NCC report). Some and possibly all of them are false positives because the data does get initialized in actual usage of the relevant classes; just not in a way that Coverity can determine to be statically guaranteed. We're changing them so that Coverity can tell they are initialized.

[2016-09-30 18:26] daira opened #1465 "NCC-2016-009"
the preceeding try block will either return or throw an exception.

effect or is never executed."

[2016-09-30 18:31] daira opened #1466 "There is no NCC-2016-001"
This vulnerability ID is not assigned.

[2016-09-30 18:31] #1466 closed

[2016-09-30 18:41] daira commented on #1346
Was this fixed by #1370?

[2016-09-30 18:47] ageis commented on #1346
@daira No. I don't understand why we were passing `--no-check-certificate` to wget. Also, what does NCC mean by "a known wget discrepancy"? If we remove [this line](https://github.com/zcash/zcash/blob/master/zcutil/fetch-params.sh#L30), then this will pretty much be fixed.

These were the comments above that choice:
[code]
I don't think that's reasonable. I will open a PR to enforce certificate ve

[2016-09-30 21:19] daira commented on #570
Note that this is compatible with collapsing the (a<sub>sk</sub>, a<sub>pk</sub>) and (sk<sub>enc</sub>, pk<sub>enc</sub>) key pairs into one key pair, if Pedersen commitments are used in the circuit.

[2016-09-30 21:19] ebfull commented on #570
We need something like this to solve a performance bottleneck in our system -- for every incoming transaction, we run `Receive` for each spending key.

[2016-09-30 22:45] arcalinea commented on #1392
Is this an appropriate warning to include in security-warnings.md?

Confirmations and Reorgs
----------------------------

When using a low number of minimum confirmations, users should be aware of new behavior in Zcash that differs significantly from Bitcoin. In the case of a blockchain reorganization, Bitcoin's coinbase maturity helps ensure that any reorg shorter than the maturity interval will

[2016-10-01 01:08] daira commented on #1346
The problem the report refers to is:  "However, keys are copied and linked prior to validation and are not removed if the checksums does not match." This seems straightforward to fix, by only moving the files from temporary to final locations if the checksums match. Alternatively we can implement #1312, but I don't think we should block on doing that given the very tight timescale.

I am +0 on ena

[2016-10-01 01:43] ageis commented on #1346
@daira With reference to that description, that was indeed fixed in #1370. However, it was a non-issue even before then. Because we are using `set -e` in the script, it will terminate and refuse to continue when shasum returns a bad exit code (i.e. if the checksums don't match).

[2016-10-01 01:45] ageis commented on #1346
@daira Let me revise that comment. #1370 fixed the order of operations so that the hashes are checked BEFORE the symlinks are made.

I think we should have cert verification in place anyway.

[2016-10-01 01:56] bitcartel commented on #1251
Changing milestone to RC1 to review the remaining tickets again and see if they should be applied.

[2016-10-01 01:59] bitcartel commented on #1329
Moving this milestone to RC1 as this is ongoing work and recent tickets e.g. #1431 and #1427 demonstrate that unit testing and mocking may not be feasible and we should look at adding Python-based qa rpc tests.

[2016-10-01 02:34] paolomarin commented on #1457
Confirming an out of memory issue. Started a new new build on more capable AWS (m4.xlarge) and testing was successful.

[2016-10-01 02:35] paolomarin commented on #1457
Confirming an out of memory issue. Started a new new build on more capable AWS (m4.xlarge) and testing was successful.

[2016-10-01 02:35] #1457 closed

[2016-10-01 02:47] str4d commented on #1453
Reminding myself to revert 2d6e97ecc5b750e83375218cb90eb5b772fa0663 when I make a PR for this issue.

[2016-10-01 07:00] str4d commented on #3
BDB 6.X is released under the AGPL, so we can't use it without relicensing the entire project as AGPL. So we need to only upgrade to 5.X in order to keep the same licensing as used by Bitcoin (see https://github.com/zcash/zcash/pull/1429#issuecomment-250896180).

[2016-10-01 10:18] vaklinov commented on #1438
Correction: The command: `./zcash-cli listtransactions` lists incoming transactions for transparent (T) addresses. It also lists outgoing transactions of type T=>T. It does **not** list outgoing transactions of type T=>Z.

Best regards,
Ivan

[2016-10-01 10:58] str4d commented on #1408
I think that (as has been discussed previously) we should consider making the existing per-node 100kB transaction size limit a consensus parameter, at least for launch. We can always hard-fork to increase it later when we implement a proper fix for this.

[2016-10-01 11:18] str4d commented on #1138
Turns out the Boost has preprocessor macros that make this so much easier! Here's the strategy I'm going with for interpreting `BUILD`:

- 0-24: `1.0.0-beta1`-`1.0.0-beta25`
- 25-49: `1.0.0-rc1`-`1.0.0-rc25`
- 50: `1.0.0`
- 51-99: `1.0.0-1`-`1.0.0-49` (or `1.0.0-dev1`-`1.0.0-dev49`)
- (`REVISION` rolls over)
- 0-24: `1.0.1-beta1`-`1.0.1-beta25`

The idea is that `-#` or `-dev#` builds are on top o

[2016-10-01 21:55] #1405 closed

[2016-10-01 22:20] daira commented on #1346
So, this issue was already fixed, but ACK e70213103c9d225e714969eb6245d5bb1d9d98fd anyway.

[2016-10-01 22:20] #1346 closed

[2016-10-01 22:26] daira commented on #1442
Duplicate of #1241.

[2016-10-01 22:26] #1442 closed

[2016-10-01 22:28] daira commented on #1241
#1442 was a duplicate.

[2016-10-01 23:13] daira opened #1469 "Consider moving the wallet db from BDB to a database maintained under a permissive license"
From https://github.com/zcash/zcash/pull/1429#issuecomment-250896180 and subsequent comments:

@luke-jr:

@str4d:

@daira:

[2016-10-01 23:22] daira commented on #1469
It seems like upstream are also unhappy with BDB, although for different reasons: https://github.com/bitcoin/bitcoin/issues/5761 and https://github.com/bitcoin/bitcoin/pull/5686 .

[2016-10-01 23:22] str4d commented on #1469
@luke-jr:

[2016-10-02 00:32] daira commented on #1330
I am skeptical that we should be doing this before launch. It's not necessary for the success of the launch, and will take up valuable developer time. I suggest doing it in 1.0.1 instead.

[2016-10-02 00:48] daira commented on #1392
Yes, that looks right. The problem is really with how recent the anchor is, but users currently have no control over that, and so the above warning is accurate as far as it goes.

[2016-10-02 03:10] daira commented on #1460
Fixed in version 2016.0-beta-1.7 of the protocol spec. I verified that the [consensus enforcement code](https://github.com/zcash/zcash/blob/master/src/main.cpp#L3086) matches the new spec (sections 6.5 and 6.6), but I'd appreciate it if someone double-checked that before closing this ticket.

[2016-10-02 11:01] questulent commented on #1413
Update: Still seeing this problem. New install today of Beta on sever #1, and an upgrade on server #2, and both failed this test: “wallet_zkeys_tests.write_zkey_direct_to_db”

[2016-10-02 15:39] daira commented on #1413
[code]

This appears to be a locale-related error. Please paste the output of ``locale``.

[2016-10-02 16:54] bitcartel commented on #1358
Some tests were written for z_getbalance and z_gettotalbalance as part of #1427.

[2016-10-02 17:02] questulent commented on #1413
HI Daira,

locale outputs:

locale: Cannot set LC_CTYPE to default locale: No such file or directory
locale: Cannot set LC_ALL to default locale: No such file or directory
LANG=en_ZA.UTF-8
LANGUAGE=en_ZA:en
LC_CTYPE=UTF-8
LC_NUMERIC="en_ZA.UTF-8"
LC_TIME="en_ZA.UTF-8"
LC_COLLATE="en_ZA.UTF-8"
LC_MONETARY="en_ZA.UTF-8"
LC_MESSAGES="en_ZA.UTF-8"
LC_PAPER="en_ZA.UTF-8"
LC_NAME="en_ZA.UTF-8"
LC_ADDRES

[2016-10-02 18:41] questulent commented on #1413
Solved. Had to add 2 lines to etc/default/locale.
LC_CTYPE="en_ZA.UTF-8"
LC_ALL="en_ZA.UTF-8"
Thanks for the direction!

[2016-10-02 18:41] #1413 closed

[2016-10-02 19:21] whyrusleeping opened #1470 "Node not syncing blockchain, lots of invalid header messages"
I've got three zcash nodes running on different machines on my LAN. One of them is working just fine and mining, another isnt mining (on purpose) but its blockchain appears to be in sync. The third node is not having a great time. Starting it from scratch, it never got any connections and wasnt syncing, so i read elsewhere that copying the testnet3 folder (minus wallet.dat) over from a different w

[2016-10-02 19:52] daira opened #1471 "Implement BIPs 69 and 126, to reduce information leakage from transparent transactions"
[BIP 69](https://github.com/bitcoin/bips/blob/master/bip-0069.mediawiki) - Lexicographical Indexing of Transaction Inputs and Outputs
[BIP 126](https://github.com/bitcoin/bips/blob/master/bip-0126.mediawiki) - Best Practices for Heterogeneous Input Script Transactions (draft)

These reduce information leakage from transparent transactions.

[2016-10-02 22:35] daira commented on #1010
CTLV (BIP 65) is supported, CSV is not. OP_RETURN is the same as in Bitcoin. Block size is 2000000 bytes (and a change to that would require a hard fork).

It's too late to make changes to consensus now, so I'm closing the ticket. Apologies for not getting to answering these questions earlier. Future consensus changes will be handled via the Zcash Improvement Proposal process.

[2016-10-02 22:35] #1010 closed

[2016-10-02 23:53] kehugter commented on #1428
Not really?

[2016-10-03 00:12] #1138 closed

[2016-10-03 02:28] ebfull commented on #1125
The only assertions left in our fork, that I can see, are:

* Assertions in parameter initialization (no surface area of attack from the network)
* Assertions in zkSNARK parameter generation (no surface area of attack from the network)
* Assertions in profiling code (disabled when zcashd opens, no surface area of attack from the network)
* Assertions in tests (as intended)
* Assertion in Fp3 (whic

[2016-10-03 02:57] daira commented on #812
@nathan-at-least wrote on Slack:

[2016-10-03 04:04] daira commented on #812
@luke-jr helpfully clarified a point I was confused about: the mapping between prefix and leading characters depends on the length. (All of our address formats are fixed-length, so that doesn't present a problem.)

[2016-10-03 04:36] daira commented on #812
The current lead characters are:
* ``zc`` for mainnet z-addresses
* ``tn`` for testnet z-addresses
* ``SK`` for testnet spending keys
* ``TK`` for testnet spending keys
* transparent addresses and keys as Bitcoin

If we are changing "transparent" to "revealed", then I'll prefix those addresses with "r":
* "r1" for mainnet P2PKH
* "r3" for mainnet P2SH
* "rm" for testnet P2PKH
* "r2" for testnet P2

[2016-10-03 06:30] daira commented on #1450
See #812.

[2016-10-03 17:29] str4d commented on #1188
Not done for beta 2.

[2016-10-03 19:53] whyrusleeping commented on #1470
When starting that machine over from scratch, i get:
[code]

where the ip its talking about refers to the betatestnet.z.cash machine.

[2016-10-03 20:41] samlavery commented on #1470
I just ran into this issue too, you've built the master branch, you need to checkout the branch in the beta guide.  Once you check out the right branch, make clean, and rebuild. :)

[2016-10-03 20:43] arcalinea commented on #1392
Added in PR #1473

[2016-10-03 20:43] #1392 closed

[2016-10-03 20:44] arcalinea commented on #1186
Added https://z.cash in #1473

[2016-10-03 20:44] #1186 closed

[2016-10-03 20:52] nathan-at-least commented on #1125
Let's do this after we launch.

[2016-10-03 20:55] nathan-at-least commented on #1453
We're going to accept this wart from Bitcoin in our blockchain.

[2016-10-03 20:55] #1453 closed

[2016-10-03 21:06] nathan-at-least commented on #1410
This wasn't very precise. It's known to be possible to generate proofs with a very low minimum latency, so this issue no longer applies.

[2016-10-03 21:06] #1410 closed

[2016-10-03 21:10] arcalinea commented on #1395
Should this info be included in `payment-api.md`?

[2016-10-03 21:19] whyrusleeping commented on #1470
@samlavery thanks! that was it

[2016-10-03 21:19] #1470 closed

[2016-10-03 21:21] daira opened #1475 "Limit transaction size to 100 KiB"
Due to a design flaw in Bitcoin's signature hashing, the time needed for hashing is worst-case O(n<sup>2</sup>) in the size of a transaction, which opens a denial-of-service vector. We were originally planning to do #1408 which would have been a comprehensive fix, but ran out of time to analyse this properly before launch (it would also have created problems for third party integrators relying on

[2016-10-03 21:36] nathan-at-least commented on #1425
We'll be addressing many issues like this in our 1.0.1 stabilization goal.

[2016-10-03 21:36] daira commented on #1475
This draft BIP proposes something horribly more complicated: https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2016-September/013171.html . I see no reason for this complication.

[2016-10-03 21:48] nathan-at-least commented on #1464
Let's narrow the scope of this for only code we've altered from Bitcoin + the portions of libsnark we use, and exclude dependencies, and ensure we do that for rc1.

[2016-10-03 21:53] nathan-at-least commented on #1246
We're currently using `-fno-strict-aliasing` so we believe the risk of this issue is partially mitigated.

[2016-10-03 21:59] nathan-at-least commented on #1465
Before we commit to cleanup based on this kind of automated dead code analysis, let's explicitly remove some make targets and dependencies (I'm looking at you `bitcoin-qt`!) before doing this analysis.